@model Biz.TACM.Models.ViewModel.MauIn.MauInQuyetDinhDinhChiViewModel

@* margin is mapped with controller to print pdf *@
<table border="0" cellspacing="0" style="font-size: 14pt; font-family: 'Times New Roman'; margin: 56.7pt 42.525pt 56.7pt 85.05pt;">
    <tr>
        <td colspan="3">
            <p style="font-size:12pt;"> Hồ sơ: @Model.MaHoSo</p>
        </td>
    </tr>
    <tr style="height: 20px;"><td></td></tr>
    <tr valign="top">
        <td align="left" width="35%">
            <table cellspacing="0">
                <tr>
                    <td align="left" colspan="3" style="font-size: 12pt;">
                        <p style="text-align: center; margin: 0 0 10px 0;"><strong>TÒA ÁN NHÂN DÂN</strong></p>
                        <p style="text-align: center; margin: 0 0 0 0;"><strong>@Model.TenToaAn.ToUpper()</strong></p>
                        @if (Model.TenToaAn.IndexOf("huyện") != -1 || Model.TenToaAn.IndexOf("thành phố") != -1)
                        {
                            <p style="text-align: center; margin: 10px 0 0 0;"><strong>TỈNH CÀ MAU</strong></p>
                        }
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td width="70px" height="3px" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: black"></td>
                    <td></td>
                </tr>
                <tr style="height: 15px;"><td></td></tr>
                <tr style="text-align: center;">
                    <td colspan="3">

                        <p style="font-size:13pt">Số: @(Model.SoQuyetDinh ?? "........")/@(Model.NgayRaQuyetDinh.Year == 1 ? DateTime.Now.Year : Model.NgayRaQuyetDinh.Year)/QĐ-TA</p>

                    </td>
                </tr>
            </table>
        </td>
        <td width="5%"></td>
        <td align="right" width="55%">
            <table cellspacing="0">
                <tr style="text-transform: uppercase;">
                    <td colspan="3" style="text-align: center;">
                        <p style="margin: 0 0 10px 0; font-size: 12pt;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></p>
                        <p style="margin: 0 0 0 0;font-size:14pt"><strong>Độc lập - Tự do - Hạnh phúc</strong></p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td width="60%" height="3px" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: black"></td>
                    <td></td>
                </tr>
                <tr style="height: 15px;"><td></td></tr>
                <tr style="text-align: center;">
                    <td colspan="3">
                        <p style="font-size: 14pt;"><i>@Model.TenToaAn.Replace("huyện", "").Replace("thành phố", "TP.").Replace("tỉnh", ""), ngày @(Model.NgayRaQuyetDinh.Day < 10 ? "0" + Model.NgayRaQuyetDinh.Day.ToString() : Model.NgayRaQuyetDinh.Day.ToString()) tháng @(Model.NgayRaQuyetDinh.Month < 3 ? "0" + Model.NgayRaQuyetDinh.Month.ToString() : Model.NgayRaQuyetDinh.Month.ToString()) năm @Model.NgayRaQuyetDinh.Year.ToString()</i></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height: 30px;"><td></td></tr>
    <tr>
        <td align="center" colspan="3">
            <p style="margin: 0 0 2px 0"><strong>QUYẾT ĐỊNH</strong></p>
            @if(Model.Loai=="tamdinhchi")
            {
                <p style="margin: 0 0 5px 0"><strong>Tạm đình chỉ việc xem xét, quyết định áp dụng biện pháp xử lý hành chính</strong></p>
            }
            else
            {
                <p style="margin: 0 0 5px 0"><strong>Đình chỉ việc xem xét, quyết định áp dụng biện pháp xử lý hành chính</strong></p>
            }
            

        </td>
    </tr>
    
    <tr style="height: 15px;"><td></td></tr>
    <tr @*style="font-size:12pt"*@>
        <td colspan="3">
            <table border="0" cellspacing="0" style="font-size: 14pt; font-family: 'Times New Roman'; margin: 0 42.525pt 20px 85.05pt;">
                <tr>
                    <td align="center" colspan="3">
                        <p style="margin: 10px 0 5px 0"><strong>TÒA ÁN NHÂN DÂN @Model.TenToaAn.ToUpper()</strong></p>
                    </td>
                </tr>
                <tr style="height: 30px;"><td></td></tr>
                <tr style="height: 25px">
                    <td colspan="3">
                        @if(Model.Loai=="tamdinhchi")
                        {
                        <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                            Căn cứ vào điểm b khoản 3 Điều 12 và khoản 2 Điều 15 của Pháp lệnh trình tự,
                            thủ tục xem xét, quyết định áp dụng các biện pháp xử lý hành chính tại Tòa án nhân
                            dân;
                        </p>
                        }
                        else
                        {
                        <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                            Căn cứ vào điểm b khoản 3 Điều 12 và khoản 1 Điều 15 của Pháp lệnh trình tự,
                            thủ tục xem xét, quyết định áp dụng các biện pháp xử lý hành chính tại Tòa án nhân
                            dân;
                        </p>
                        }
                        <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                            Sau khi kiểm tra hồ sơ đề nghị xem xét, quyết định áp dụng biện pháp xử lý
                            hành chính thụ lý số @Model.ThuLyAD/@Model.NgayNopDonTaiToaAn.Year ngày ngày @(Model.NgayNopDonTaiToaAn.Day < 10 ? "0" + Model.NgayNopDonTaiToaAn.Day.ToString() : Model.NgayNopDonTaiToaAn.Day.ToString()) tháng @(Model.NgayNopDonTaiToaAn.Month < 3 ? "0" + Model.NgayNopDonTaiToaAn.Month.ToString() : Model.NgayNopDonTaiToaAn.Month.ToString()) năm @Model.NgayNopDonTaiToaAn.Year.ToString();
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="3">
                        <p style="margin: 0 0 15px 0"><strong>QUYẾT ĐỊNH:</strong></p>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                            @if (Model.Loai=="tamdinhchi")
                            {
                                <span>1. Tạm đình chỉ việc xem xét, quyết định áp dụng biện pháp xử lý hành chính</span>
                            }
                            else
                            {
                                <span>1. Đình chỉ việc xem xét, quyết định áp dụng biện pháp xử lý hành chính</span>
                            }
                            @Model.BienPhapXuLyHanhChinh.
                        </p>
                        </td>
                    </tr>
                        @if (Model.DanhSachDuongSu.Count() == 0)
                    {
                    <tr style="height: 25px">
                        <td colspan="3" valign="top">
                           
                                <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                    Đối với: ................................................
                                </p>
                            
                        </td>
                        
                    </tr>
                    <tr style="height: 25px;">
                        <td colspan="3" valign="top">
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                Sinh ngày ........ tháng ........ năm ................
                            </p>
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                CMND số: .................... Ngày cấp: ............. Nơi cấp: ....................
                            </p>
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                Nghề nghiệp: ...................................................................
                            </p>
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                Nơi cư trú: .......................................................................
                            </p>
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                Con ông: .............................. và bà: .................................
                            </p>
                        </td>
                    </tr>
                }
                else
                {
                    bool isFirst = true;
                    
                    foreach (var item in Model.DanhSachDuongSu)
                    {
                        
                            
                            <tr>
                                <td colspan="3" valign="top">
                                    <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                        @if (isFirst)
                                        {
                                            
                                            <span>Đối với: </span>
                                            
                                            isFirst = false;
                                        }
                                        @(item.GioiTinh == "Nam" ? "Ông " : "Bà ")@item.HoTenDuongSu.
                            
                                    </p>
                                
                                    <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                        Sinh ngày: @(item.NgayThangNamSinh ?? "...............").
                                    </p>
                                    <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                        CMND số: @(item.SoCMND ?? "...............")  Ngày cấp: @item.NgayCapCMND.ToString("dd/MM/yyyy") Nơi cấp: @(item.NoiCapCMND ??"...............").
                                    </p>
                                    <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                        Nghề nghiệp: @(item.NgheNghiep ?? "...............").
                                    </p>
                                    <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                        Nơi cư trú: @(item.NoiTamTru ?? item.NoiDKHKTT).
                                    </p>
                                    <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                        Con ông: @(item.HoTenCha ??"....................") và bà: @(item.HoTenMe ?? "....................").
                                    </p>
                                </td>
                            </tr>
                        }
                    }
                    
                }
                        
    
                <tr>
                    <td colspan="3">
                        <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 5px 0">
                            2. Lý do đình chỉ việc xem xét, quyết định áp dụng biện pháp xử lý hành
                            chính:
                            @if(Model.LyDo==null)
                            {
                                <span>....................................................................................................</span>
                            }
                        </p>
                        @if(Model.LyDo!=null)
                        {
                            @Html.Raw("<p style=\"text-align: justify; text-indent: 28.35pt; line-height: 1.15em;\"><ul style=\"padding-left:14pt;margin: 0px 0 5px 0;list-style-type: none;\">")
                            @Html.Raw(Server.HtmlDecode(Model.LyDo))
                            @Html.Raw("</ul></p>")
                        }
                        
                        <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                            3.Quyết định này có hiệu lực thi hành kể từ ngày hết thời hạn khiếu nại, kiến
                            nghị, kháng nghị quy định tại Điều 31 của Pháp lệnh trình tự, thủ tục xem xét, quyết
                            định áp dụng các biện pháp xử lý hành chính tại Tòa án nhân dân.
                        </p>
                    </td>
                </tr>

                
            </table>
        </td>
    </tr>
    <tr style="height: 20px;"><td></td></tr>
    <tr valign="top" @*style="font-size:11pt"*@>
        <td colspan="3">
            <div style="float: left;font-size:11pt">
                <p style="font-size:12pt;margin-bottom:5px"><strong><i>Nơi nhận:</i></strong></p>
                <p style="margin:3px 0 3px 0">- Đương sự;</p>
                <p style="margin:3px 0 3px 0">- Viện Kiểm sát nhân dân @Model.TenToaAn;</p>
                <p style="margin:3px 0 3px 0">- Lưu hồ sơ vụ án.</p>
            </div>
            <div style="float: right; text-align:center;font-size:13pt;padding-right:50px">
                
                    <p><strong @*style="font-size:13pt"*@>THẨM PHÁN</strong></p>
                

                <p style="margin: 100px 0 0 0"><strong>@Model.ThamPhan</strong></p>
            </div>
        </td>
    </tr>
</table>