@using Biz.Lib.TACM.Resources.Resources
@model int
<div class="modal-header">
    <h5 class="modal-title text-uppercase">@ViewText.TITLE_XOADUONGSU</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@using (Html.BeginForm("XoaDuongSu", "NhanDon", FormMethod.Post, new { id = "formXoaDuongSu" }))
{
    @Html.Hidden("duong-su-id-hidden", Model)
    
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    @string.Format(NotifyMessage.BANCO_MUONXOA, "đương sự")
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default text-uppercase pull-left" data-dismiss="modal">@ViewText.BUTTON_HUY</button>
        <button type="button" class="btn btn-danger text-uppercase pull-right" id="xoa-duong-su-btn">@ViewText.BUTTON_XOA</button>
    </div>

}
<script type="text/javascript">
    $(function () {
        XoaDuongSuModule.init();
    });
</script>
