@{
    Layout = null;
}
@using Biz.Lib.TACM.Resources.Resources
@model Biz.Lib.TACM.KetQuaXetXu.Model.ToiDanhModel

<div class="modal-header">
    <h5 class="modal-title text-uppercase">@ViewText.TITLE_TOIDANH</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-block">
                    <table class="table table-information table-hover">
                        <tbody>
                            <tr>
                                <td>@ViewText.LABEL_BICAO</td>
                                <td class="text-value-bold">@Model.BiCao</td>
                            </tr>
                            <tr>
                                <td>@ViewText.LABEL_KETQUA_XETXU</td>
                                <td class="text-value-bold">@Model.KetQuaXetXu</td>
                            </tr>
                            <tr>
                                <td>@ViewText.LABEL_DIEULUATAPDUNG</td>
                                <td class="text-value-bold">@Model.DieuLuatApDung</td>
                            </tr>
                            <tr>
                                <td>@ViewText.LABEL_TOIDANH</td>
                                <td class="text-value-bold">@Model.ToiDanh</td>
                            </tr>
                            <tr>
                                <td>@ViewText.LABEL_ANPHI</td>
                                <td class="text-value-bold">@Model.AnPhi</td>
                            </tr>
                            <tr>
                                <td>@ViewText.LABEL_DINHKEM_FILE</td>
                                <td class="text-value-bold">@Model.DinhKemFile</td>
                            </tr>
                            <tr>
                                <td>@ViewText.LABEL_NGUOITAO</td>
                                <td class="text-value-bold">@Model.NguoiTao</td>
                            </tr>
                            <tr>
                                <td>@ViewText.LABEL_NGAYTAO</td>
                                <td class="text-value-bold">@Model.NgayTao</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 mb-3">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#ModalToiDanhTrachNhienDanSu" role="tab">@ViewText.LABEL_TRACHNHIEMDANSU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#ModalToiDanhXuLyVatChung" role="tab">@ViewText.LABEL_XULYVATCHUNG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#ModalToiDanhGhiChu" role="tab">@ViewText.LABEL_GHICHU</a>
                        </li>
                    </ul>
                    <div class="tab-content p-1">
                        <div class="tab-pane active" id="ModalToiDanhTrachNhienDanSu" role="tabpanel">
                            <div class="card">
                                <div class="card-block" style="height: 150px; overflow: scroll">
                                    @Html.Raw(Server.HtmlDecode(Model.TrachNhiemDanSu))
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="ModalToiDanhXuLyVatChung" role="tabpanel">
                            <div class="card">
                                <div class="card-block" style="height: 150px; overflow: scroll">
                                    @Html.Raw(Server.HtmlDecode(Model.XuLy))
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="ModalToiDanhGhiChu" role="tabpanel">
                            <div class="card">
                                <div class="card-block" style="height: 150px; overflow: scroll">
                                    @Html.Raw(Server.HtmlDecode(Model.GhiChu))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#ModalToiDanhBienPhapTuPhap" role="tab">@ViewText.LABEL_BIENPHAPTUPHAP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#ModalToiDanhBienPhapKhienTrach" role="tab">@ViewText.LABEL_BIENPHAPGIAMSAT</a>
                        </li>
                    </ul>
                    <div class="tab-content p-1">
                        <div class="tab-pane active" id="ModalToiDanhBienPhapTuPhap" role="tabpanel">
                            <div class="card">
                                <div class="card-block" style="height: 150px; overflow: scroll">
                                    @Html.Raw(Server.HtmlDecode(Model.BienPhapTuPhap))
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="ModalToiDanhBienPhapKhienTrach" role="tabpanel">
                            <div class="card">
                                <div class="card-block" style="height: 150px; overflow: scroll">
                                    @Html.Raw(Server.HtmlDecode(Model.BienPhapKhienTrach))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>