@using Biz.Lib.Helpers
@using Biz.TACM.Infrastructure.Extensions
@using Biz.TACM.Models.Model
@using Biz.Lib.TACM.Resources.Resources
@using Biz.TACM.Enums
@model Biz.Lib.TACM.NhanDon.Model.HoSoVuAnModel


@{
    ViewBag.Title = "CHUẨN BỊ XÉT XỬ";
}

@section Title
{
    @{ Html.RenderPartial("_PageTitlePartial", "CHUẨN BỊ XÉT XỬ");}
}

@section VerticalMenu
{
    @{ Html.RenderPartial("_VerticalMenuPartial");}
}

@{
    var anSessionModel = Sessions.GetObject<AnSessionModel>("AnSessionObject") ?? new AnSessionModel();
    var giaiDoan = anSessionModel.GiaiDoanId;
    var nhomAn = anSessionModel.MaNhomAn;
    var roleCongDoan = ViewBag.ActiveCongDoan == 3 ? 1 : -1;
}

<input type="hidden" id="HoSoVuAnID" value="@Model.HoSoVuAnID" />
<input type="hidden" id="roleGiaiDoan" value="@ViewBag.RoleGiaiDoan" />
<input type="hidden" id="roleCongDoan" value="@roleCongDoan" />
<input type="hidden" id="loaiQuanHe" value="@Model.LoaiQuanHe" />
<input type="hidden" name="LoaiKetQuaXetXu" id="loaiKetQuaXetXu" value="@ViewBag.LoaiKetQuaXetXu" />
<div id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h3 class="text-uppercase mb-4">@ViewText.TITLE_CONGDOAN_CHUANBIXETXU</h3>
            </div>
            <div class="col-6 text-right">
                <div class="d-inline-block mr-3">
                    @if ((int)ViewBag.ActiveCongDoan != CongDoan.NhanDon.GetHashCode())
                    {
                        <a id="btnChuyenCongDoanPrev" href="#"><span class="next-prev-state @Html.GetColorStateAsString((int) ViewBag.ActiveCongDoan)"><i class="fa fa-chevron-left" aria-hidden="true"></i></span></a>
                    }

                    <a id="btnChuyenCongDoan" href="#" data-toggle="modal" data-target="#modalChuyenCongDoan" class="remove-outline"><span class="label-cell-state @Html.GetColorStateAsString((int) ViewBag.ActiveCongDoan)">@Html.GetCongDoanHoSoAsString((int)ViewBag.ActiveCongDoan, nhomAn, giaiDoan) &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                    @if ((int)ViewBag.ActiveCongDoan != CongDoan.LuuKho.GetHashCode())
                    {
                        <a id="btnChuyenCongDoanNext" href="#"><span class="next-prev-state @Html.GetColorStateAsString((int) ViewBag.ActiveCongDoan)"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>

                    }
                </div>
                <div class="label-cell">
                    @Html.Raw(string.Format(ViewText.HOSOVUAN_NUMBER, Model.MaHoSo, Model.SoHoSo))
                </div>
            </div>
        </div>

        <!-- Gộp view xet xử -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-sau-xet-xu-sticky" role="tablist">
            @if (Model.NhomAn.Equals(Setting.MANHOMAN_APDUNG_BPXLHC))
            {
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#content_noi_dung_xet_xu" role="tab" id="noi-dung-xet-xu-tab-title">@ViewText.LABEL_MOPHIENHOP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#content_quyet_dinh" role="tab">@ViewText.LABEL_QUYETDINH_THONGBAO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#content_trieu_tap" role="tab">@ViewText.LABEL_TRIEUTAP</a>
                </li>
            }
            else if (Model.NhomAn.Equals(Setting.MANHOMAN_HINHSU))
            {
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabThongTinDuongSu" role="tab">@ViewText.LABEL_THONGTIN_NGUOI_TGTT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#content_quyet_dinh" role="tab">@ViewText.LABEL_QUYETDINH</a>
                </li>

                if (giaiDoan == GiaiDoan.PhucTham.GetHashCode())
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#content_dinh_chi_xet_xu_phuc_tham" role="tab">@ViewText.LABEL_DINHCHI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#content_noi_dung_xet_xu" role="tab" id="noi-dung-xet-xu-tab-title">@ViewText.LABEL_DUAVUAN_RAXETXU</a>
                    </li>
                }
                else
                {                    
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#content_tam_dinh_chi_vu_an" role="tab">@ViewText.LABEL_TAMDINHCHI_VUAN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#content_phuc_hoi_vu_an" role="tab">@ViewText.LABEL_PHUCHOI_VUAN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#content_noi_dung_xet_xu" role="tab" id="noi-dung-xet-xu-tab-title">@ViewText.LABEL_DUAVUAN_RAXETXU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#content_trieu_tap" role="tab">@ViewText.LABEL_TRIEUTAP</a>
                    </li>
                }                                                    
                 
            }
            else
            {
                if (giaiDoan == GiaiDoan.PhucTham.GetHashCode() || Model.LoaiQuanHe == Setting.LOAIQUANHE_YEUCAU)
                {
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#content_quyet_dinh" role="tab">@ViewText.LABEL_QUYETDINH_THONGBAO</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#content_hoa_giai" role="tab">@(Model.NhomAn.Equals(Setting.MANHOMAN_HANHCHINH) ? ViewText.TAB_TITLE_CONGKHAICHUNGCUDOITHOAI : ViewText.TAB_TITLE_HOAGIA_CONGKHAI_CHUNGCU)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#content_quyet_dinh" role="tab">@ViewText.LABEL_QUYETDINH_THONGBAO</a>
                    </li>
                }

               
                if (Model.NhomAn.Equals(Setting.MANHOMAN_HANHCHINH) && giaiDoan == GiaiDoan.PhucTham.GetHashCode())
                {
                    if (ViewBag.LoaiKetQuaXetXu == LoaiKetQuaXetXu.BanAn.GetHashCode())
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#content_noi_dung_xet_xu" role="tab" id="noi-dung-xet-xu-tab-title">@ViewText.LABEL_DUAVUAN_RAXETXU</a>
                        </li>
                    }
                    else if(ViewBag.LoaiKetQuaXetXu == LoaiKetQuaXetXu.QuyetDinh.GetHashCode())
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#content_mo_phien_hop_phuc_tham" role="tab">@ViewText.LABEL_MOPHIENHOP</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#content_noi_dung_xet_xu" role="tab" id="noi-dung-xet-xu-tab-title">@ViewText.LABEL_DUAVUAN_RAXETXU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#content_mo_phien_hop_phuc_tham" role="tab">@ViewText.LABEL_MOPHIENHOP</a>
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#content_noi_dung_xet_xu" role="tab" id="noi-dung-xet-xu-tab-title">@ViewText.LABEL_DUAVUAN_RAXETXU</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#content_trieu_tap" role="tab">@ViewText.LABEL_TRIEUTAP</a>
                </li>
                if (giaiDoan == GiaiDoan.SoTham.GetHashCode())
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#content_chuyen_ho_so" role="tab">@ViewText.LABEL_CHUYENHOSO</a>
                    </li>
                }
            }
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#content_mau_in" role="tab">@ViewText.LABEL_MAUIN</a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            @if (Model.NhomAn.Equals(Setting.MANHOMAN_APDUNG_BPXLHC))
            {
                <div class="tab-pane fade active show" id="content_noi_dung_xet_xu" role="tabpanel">
                    @Html.Partial("NoiDung/_NoiDung")
                </div>
                <div class="tab-pane fade" id="content_quyet_dinh" role="tabpanel">
                    @Html.Partial("QuyetDinh/_QuyetDinh")
                </div>
                <div class="tab-pane fade" id="content_trieu_tap" role="tabpanel">
                    @Html.Partial("TrieuTap/_TrieuTap")
                </div>
            }
            else if (Model.NhomAn.Equals(Setting.MANHOMAN_HINHSU))
            {
                <div class="tab-pane fade active show" id="tabThongTinDuongSu" role="tabpanel">
                    @Html.Partial("~/Views/NhanDon/DuongSu/TabContentDuongSu.cshtml")
                </div>                
                <div class="tab-pane fade" id="content_quyet_dinh" role="tabpanel">
                    @Html.Partial("QuyetDinh/_QuyetDinh")
                </div>

                if (giaiDoan == GiaiDoan.PhucTham.GetHashCode())
                {
                    <div class="tab-pane fade" id="content_dinh_chi_xet_xu_phuc_tham" role="tabpanel">
                        @Html.Partial("DinhChiXetXuPhucTham/_DinhChi")
                    </div>
                    <div class="tab-pane fade" id="content_noi_dung_xet_xu" role="tabpanel">
                        @Html.Partial("NoiDung/_NoiDung")
                    </div>
                }
                else
                {                                       
                    <div class="tab-pane fade" id="content_tam_dinh_chi_vu_an" role="tabpanel">
                        @Html.Partial("TamDinhChiVuAn/_TamDinhChiVuAn")
                    </div>
                    <div class="tab-pane fade" id="content_phuc_hoi_vu_an" role="tabpanel">
                        @Html.Partial("PhucHoiVuAn/_PhucHoiVuAn")
                    </div>
                    <div class="tab-pane fade" id="content_noi_dung_xet_xu" role="tabpanel">
                        @Html.Partial("NoiDung/_NoiDung")
                    </div>
                    <div class="tab-pane fade" id="content_trieu_tap" role="tabpanel">
                        @Html.Partial("TrieuTap/_TrieuTap")
                    </div>
                }
                
            }
            else
            {
                if (giaiDoan == GiaiDoan.PhucTham.GetHashCode() || Model.LoaiQuanHe == Setting.LOAIQUANHE_YEUCAU)
                {
                    <div class="tab-pane fade active show" id="content_quyet_dinh" role="tabpanel">
                        @Html.Partial("QuyetDinh/_QuyetDinh")
                    </div>
                }
                else
                {
                    <div class="tab-pane fade active show" id="content_hoa_giai" role="tabpanel">
                        @Html.Partial("HoaGiai/_HoaGiai")
                    </div>
                    <div class="tab-pane fade" id="content_quyet_dinh" role="tabpanel">
                        @Html.Partial("QuyetDinh/_QuyetDinh")
                    </div>
                }
                
                if (Model.NhomAn.Equals(Setting.MANHOMAN_HANHCHINH) && giaiDoan == GiaiDoan.PhucTham.GetHashCode())
                {
                    if (ViewBag.LoaiKetQuaXetXu == LoaiKetQuaXetXu.BanAn.GetHashCode())
                    {
                        <div class="tab-pane fade" id="content_noi_dung_xet_xu" role="tabpanel">
                            @Html.Partial("NoiDung/_NoiDung")
                        </div>
                    }
                    else if(ViewBag.LoaiKetQuaXetXu == LoaiKetQuaXetXu.QuyetDinh.GetHashCode())
                    {
                        <div class="tab-pane fade" id="content_mo_phien_hop_phuc_tham" role="tabpanel">
                            @Html.Partial("NoiDung/_MoPhienHopHanhChinhPhucTham")
                        </div>
                    }
                    else
                    {
                        <div class="tab-pane fade" id="content_noi_dung_xet_xu" role="tabpanel">
                            @Html.Partial("NoiDung/_NoiDung")
                        </div>
                        <div class="tab-pane fade" id="content_mo_phien_hop_phuc_tham" role="tabpanel">
                            @Html.Partial("NoiDung/_MoPhienHopHanhChinhPhucTham")
                        </div>
                    }
                }
                else
                {
                    <div class="tab-pane fade" id="content_noi_dung_xet_xu" role="tabpanel">
                        @Html.Partial("NoiDung/_NoiDung")
                    </div>
                }
                <div class="tab-pane fade" id="content_trieu_tap" role="tabpanel">
                    @Html.Partial("TrieuTap/_TrieuTap")
                </div>
                if (giaiDoan == GiaiDoan.SoTham.GetHashCode())
                {
                    <div class="tab-pane fade" id="content_chuyen_ho_so" role="tabpanel">
                        @Html.Partial("ChuyenHoSo/TabContentChuyenHoSo")
                    </div>
                }
            }
            <div class="tab-pane fade" id="content_mau_in" role="tabpanel">
                @Html.Partial("MauIn/_MauIn")
            </div>

        </div>
    </div>
</div>

<!-- Modal chuyen cong doan -->
<div class="modal fade" id="modalChuyenCongDoan" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("ChuyenCongDoan", "NhanDon", FormMethod.Post, new { @id = "formChuyenCongDoan" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="HoSoVuAnID" value="@Model.HoSoVuAnID" />
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase">Cập nhật công đoạn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Công đoạn chuyển đến</label>
                                @Html.DropDownListFor(m => m.CongDoanHoSo, (SelectList)ViewBag.ddlTrangThai, new { @id = "selectChuyenCongDoan", @class = "custom-select w-100" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default text-uppercase pull-left" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger text-uppercase pull-right" id="chuyen-cong-doan-btn">Lưu</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal phan cong tham phan -->
<div class="modal fade" id="modalPhanCongThamPhan" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-thamphan-custom">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/ChuanBiXetXu")
    @Scripts.Render("~/bundles/XetXu")

    <script>
        $(document).ready(function () {
            if ($("#nhomAn").val() == "HC") {
                //if ($("#giaiDoanHoSo").val() == 2) {
                //    if ($("#loaiKetQuaXetXu").val() == 2) {
                //        $("#noi-dung-xet-xu-tab-title").html("Mở phiên họp");
                //    }
                //}               
            }
            else {
                if ($("#loaiQuanHe").val() === "Yêu cầu" || $("#nhomAn").val() == "AD" || $("#loaiKetQuaXetXu").val() == 2) {
                    $("#noi-dung-xet-xu-tab-title").html("Mở phiên họp");
                }
            }
            

            //if ($("#giaiDoanHoSo").val() == 2) {
            //    $('[href="#content_hoa_giai"], [href="#content_chuyen_ho_so"]').closest('li').hide();
            //    $('.nav-tabs a[href="#content_quyet_dinh"]').tab('show');
            //}
        });
    </script>
}