
@{
    Layout = null;
}

@using Biz.Lib.TACM.Resources.Resources
@model Biz.Lib.TACM.ChuanBiXetXu.Model.QuyetDinhHinhSuModel

@if (Model != null)
{
    <div class="row">
        <div class="col-12">
            <button id="btnSuaQuyetDinDinhChihHinhSu" class="btn btn-sm btn-outline-primary btn-custom-size float-right mt-2" data-toggle="modal" data-target="#modalDinhChiVuAn"><i class="fa fa-pencil-square-o"></i></button>
            @Html.DropDownListFor(m => m.QuyetDinhID, (SelectList)ViewBag.ddlNgayTao, new { @id = "selectNgayTaoDinhChiVuAn", @class = "custom-select mb-2" })
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_SOQUYETDINH</span><span class="font-weight-bold">@Model.SoQuyetDinh</span></li>
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_NGAYTHANGNAM</span><span class="font-weight-bold">@string.Format("{0:dd/MM/yyyy}", @Model.NgayRaQuyetDinh)</span></li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>@ViewText.LABEL_DINHKEM_FILE</span><span class="font-weight-bold">
                        @if (Model.DinhKemFile != null)
                        {<a target="_blank" href="~/Uploads/@Model.DinhKemFile">@Model.DinhKemFile</a>}
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_NGUOITAO</span><span class="font-weight-bold">@Model.NguoiTao</span></li>
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_NGAYTAO</span><span class="font-weight-bold">@string.Format("{0:HH:mm:ss, dd/MM/yyyy}", @Model.NgayTao)</span></li>
            </ul>
        </div>
        <div class="col-6">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#LyDoDinhChiVuAn" role="tab">@ViewText.LABEL_LYDO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#GhiChuDinhChiVuAn" role="tab">@ViewText.LABEL_GHICHU</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="LyDoDinhChiVuAn" role="tabpanel">
                    <div class="card">
                        <div class="card-block" style="min-height: 150px; overflow: scroll">
                            <ul class="list-unstyled">
                                @foreach (var item in @Model.DanhSachLyDo)
                                {
                                    <li><label><input class="align-middle" type="checkbox" checked disabled /> @item</label></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="GhiChuDinhChiVuAn" role="tabpanel">
                    <div class="card">
                        <div class="card-block" style="height: 150px; overflow: scroll">
                            @Html.Raw(Server.HtmlDecode(@Model.GhiChu))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <button id="btnThemQuyetDinDinhChihHinhSu" class="btn btn-sm btn-primary float-right mt-2" data-toggle="modal" data-target="#modalDinhChiVuAn"><i class="fa fa-plus btn-icon-size"></i></button>
                </div>
            </div>
            <div class="mb-1 text-center empty-data">
                <blockquote>
                    <strong>@NotifyMessage.CHUACO_DULIEU</strong>
                </blockquote>
            </div>
        </div>
    </div>
}