@model Biz.TACM.Models.ViewModel.MauIn.MauInQuyetDinhPCTPViewModel

@* margin is mapped with controller to print pdf *@
<table border="0" cellspacing="0" style="font-size: 14pt; font-family: 'Times New Roman'; margin: 56.7pt 42.525pt 56.7pt 85.05pt;">
    <tr>
            <td colspan="3">
                <p style="font-size:12pt"> Hồ sơ: @Model.MaHoSo</p>
            </td>
        </tr>
    <tr style="height: 20px;"><td></td></tr>
    <tr valign="top">
        <td align="left" width="35%">
            <table cellspacing="0">
                <tr>
                    <td align="left" colspan="3" style="font-size: 12pt;">
                        <p style="text-align: center; margin: 0 0 10px 0;"><strong>TÒA ÁN NHÂN DÂN</strong></p>
                        <p style="text-align: center; margin: 10px 0 0 0;"><strong>TỈNH CÀ MAU</strong></p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td width="70px" height="3px" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: black"></td>
                    <td></td>
                </tr>
                <tr style="height: 15px;"><td></td></tr>
                <tr style="text-align: center;">
                    <td colspan="3">
                        @if (Model.LoaiQuanHe.Equals("Tranh chấp"))
                        {
                            <p style="font-size:13pt">Số: @(Model.SoThuLy ?? "........")/@(Model.NgayThuLy.Year==1 ? DateTime.Now.Year : Model.NgayThuLy.Year)/QĐPC-DS</p>
                        }
                        else if (Model.LoaiQuanHe.Equals("Yêu cầu"))
                        {
                            <p style="font-size:13pt">Số: @(Model.SoThuLy ?? "........")/@(Model.NgayThuLy.Year==1 ? DateTime.Now.Year : Model.NgayThuLy.Year)/QĐPC-VDS</p>
                        }
                    </td>
                </tr>
            </table>
        </td>
        <td width="5%"></td>
        <td align="right" width="55%">
            <table cellspacing="0">
                <tr style="text-transform: uppercase;">
                    <td colspan="3" style="text-align: center;">
                        <p style="margin: 0 0 10px 0; font-size: 12pt;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></p>
                        <p style="margin: 0 0 0 0;font-size:14pt"><strong>Độc lập - Tự do - Hạnh phúc</strong></p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td width="60%" height="3px" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: black"></td>
                    <td></td>
                </tr>
                <tr style="height: 15px;"><td></td></tr>
                <tr style="text-align: center;">
                    <td colspan="3">
                        <p style="font-size: 14pt;"><i>@Model.TenToaAn.Replace("huyện", "").Replace("thành phố", "TP.").Replace("tỉnh", ""), ngày 
                            @if(Model.NgayPhanCong>DateTime.MinValue)
                            {
                                <span>@(Model.NgayPhanCong.Day < 10 ? "0" + Model.NgayPhanCong.Day.ToString() : Model.NgayPhanCong.Day.ToString()) tháng @(Model.NgayPhanCong.Month < 3 ? "0" + Model.NgayPhanCong.Month.ToString() : Model.NgayPhanCong.Month.ToString()) năm @Model.NgayPhanCong.Year.ToString()</span>
                            }
                            else
                            {
                                <span>.....tháng.....năm..........</span>
                            }
                              </i></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height: 30px;"><td></td></tr>
    <tr>
        <td align="center" colspan="3">
            <p style="margin: 0 0 2px 0"><strong>QUYẾT ĐỊNH</strong></p>
            @if (Model.LoaiQuanHe.Equals("Tranh chấp"))
            {
                <p style="margin: 0 0 5px 0"><strong>Phân công Thẩm phán giải quyết vụ án</strong></p>
            }
            else if (Model.LoaiQuanHe.Equals("Yêu cầu"))
            {
                <p style="margin: 0 0 5px 0"><strong>Phân công Thẩm phán giải quyết vụ việc dân sự</strong></p>
            }
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <table>
                <tr>
                    <td width="30%"></td>
                    <td width="40%" height="5px" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: black; margin: 0 0 10px 0"></td>
                    <td width="30%"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height: 15px;"><td></td></tr>
    <tr @*style="font-size:12pt"*@>
        <td colspan="3">
            <table border="0" cellspacing="0" style="font-size: 14pt; font-family: 'Times New Roman'; margin: 0 42.525pt 20px 85.05pt;">
                <tr>
                    <td align="center" colspan="3">
                        <p style="margin: 10px 0 5px 0"><strong>CHÁNH ÁN TÒA ÁN NHÂN DÂN @Model.TenToaAn.ToUpper()</strong></p>
                    </td>
                </tr>
                <tr style="height: 30px;"><td></td></tr>
                <tr style="height: 25px">
                    <td colspan="3">
                        <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                            Căn cứ Điều 47 Bộ luật Tố tụng dân sự,
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="3">
                        <p style="margin: 0 0 15px 0"><strong>QUYẾT ĐỊNH:</strong></p>
                    </td>
                </tr>
                @if (Model.LoaiQuanHe.Equals("Yêu cầu"))
                {
                    <tr>
                        <td colspan="3">
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                <strong>Điều 1.</strong> Phân công Hội đồng phúc thẩm:
                            </p>
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                Thẩm phán chủ tọa:
                                @if (Model.ThamPhan != null)
                                {
                                    <span>@(Model.GioiTinhThamPhan == "Nam" ? "Ông " : "Bà ")@Model.ThamPhan.</span>
                                }
                                else
                                {
                                    <span>Ông(Bà): .................................</span>
                                }
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 5px 0">
                                Các Thẩm phán:
                                @if (Model.ThamPhan1 != null)
                                {
                                    <span>@(Model.GioiTinhThamPhan1 == "Nam" ? "Ông " : "Bà ")@Model.ThamPhan1.</span>
                                }
                                else
                                {
                                    <span>Ông(Bà): .................................</span>
                                }
                            </p>
                            @if (Model.ThamPhan2 != null)
                            {
                                <p style="margin: 0 0 10px 124.5pt">
                                    @(Model.GioiTinhThamPhan2 == "Nam" ? "Ông " : "Bà ")@Model.ThamPhan2.
                                </p>
                            }
                            else
                            {
                                <p style="margin: 0 0 10px 124.5pt">Ông(Bà):.................................</p>
                            }
                        </td>
                    </tr>
                    if (Model.DanhSachThamPhanDuKhuyet.Any())
                    {
                        <tr>
                            <td colspan="3">
                                <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                    Thẩm phán dự khuyết:
                                    @foreach (var item in Model.DanhSachThamPhanDuKhuyet)
                                    {
                                        if (item != @Model.DanhSachThamPhanDuKhuyet.Last())
                                        {
                                            <span>@(item.GioiTinh == "Nam" ? "Ông" : "Bà") @item.ThamPhanDuKhuyet, </span>
                                        }
                                        else
                                        {
                                        <span>@(item.GioiTinh == "Nam" ? "Ông" : "Bà") @item.ThamPhanDuKhuyet.</span>
                                        }
                                    }
                                </p>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">
                                <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                    Thẩm phán dự khuyết: Không.
                                </p>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="3">
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 5px 0">
                                Tiến hành hoạt động tố tụng đối với vụ việc dân sự phúc thẩm thụ lý số: @(Model.SoThuLy ?? "........")/@(Model.NgayThuLy.Year==1 ? DateTime.Now.Year : Model.NgayThuLy.Year)/TLPT-VDS ngày 
                                @if (Model.NgayThuLy > DateTime.MinValue)
                    {
                        <span>@(Model.NgayThuLy.Day < 10 ? "0" + Model.NgayThuLy.Day.ToString() : Model.NgayThuLy.Day.ToString()) tháng @(Model.NgayThuLy.Month < 3 ? "0" + Model.NgayThuLy.Month.ToString() : Model.NgayThuLy.Month.ToString()) năm @Model.NgayThuLy.Year.ToString()</span>
                    }
                    else
                     {
                         <span>.....tháng.....năm..........</span>
                     }
                        về việc @Model.QuanHePhapLuat, giữa:
                            </p>
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 5px 0">
                                Người yêu cầu:
                                @if (Model.DanhSachNguyenDon.Any())
                                {
                                    foreach (var item in Model.DanhSachNguyenDon)
                                    {
                                        if (item != Model.DanhSachNguyenDon.Last())
                                        {
                                            if (item.DuongSuLa == "Cá nhân")
                                            {
                                                <span>@(item.GioiTinh == "Nam" ? "Ông " : "Bà ")@item.HoTenDuongSu,</span>
                                            }
                                            else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                            {
                                                <span>@item.TenCoQuanToChuc,</span>
                                            }
                                        }
                                        else
                                        {
                                            if (item.DuongSuLa == "Cá nhân")
                                            {
                                                <span>@(item.GioiTinh == "Nam" ? "Ông " : "Bà ")@item.HoTenDuongSu.</span>
                                            }
                                            else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                            {
                                                <span>@item.TenCoQuanToChuc.</span>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <span>..............................</span>
                                }
                            </p>
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                Người có quyền lợi, nghĩa vụ liên quan:
                                @if (Model.DanhSachBiDon.Any())
                                {
                                    foreach (var item in Model.DanhSachBiDon)
                                    {
                                        if (item != Model.DanhSachBiDon.Last())
                                        {
                                            if (item.DuongSuLa == "Cá nhân")
                                            {
                                                <span>@(item.GioiTinh == "Nam" ? "Ông " : "Bà ")@item.HoTenDuongSu,</span>
                                            }
                                            else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                            {
                                                <span>@item.TenCoQuanToChuc,</span>
                                            }
                                        }
                                        else
                                        {
                                            if (item.DuongSuLa == "Cá nhân")
                                            {
                                                <span>@(item.GioiTinh == "Nam" ? "Ông " : "Bà ")@item.HoTenDuongSu.</span>
                                            }
                                            else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                            {
                                                <span>@item.TenCoQuanToChuc.</span>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <span>..............................</span>
                                }
                            </p>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="3">
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                <strong>Điều 1.</strong> Phân công Hội đồng xét xử phúc thẩm:
                            </p>
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                Thẩm phán chủ tọa:
                                @if (Model.ThamPhan != null)
                                {
                                    <span>@(Model.GioiTinhThamPhan == "Nam" ? "Ông " : "Bà ")@Model.ThamPhan.</span>
                                }
                                else
                                {
                                    <span>Ông(Bà): .................................</span>
                                }
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 5px 0">
                                Các Thẩm phán:
                                @if (Model.ThamPhan1 != null)
                                {
                                    <span>@(Model.GioiTinhThamPhan1 == "Nam" ? "Ông " : "Bà ")@Model.ThamPhan1.</span>
                                }
                                else
                                {
                                    <span>Ông(Bà): .................................</span>
                                }
                            </p>
                            @if (Model.ThamPhan2 != null)
                            {
                                <p style="margin: 0 0 10px 138.5pt">
                                    @(Model.GioiTinhThamPhan2 == "Nam" ? "Ông " : "Bà ")@Model.ThamPhan2.
                                </p>
                            }
                            else
                            {
                                <p style="margin: 0 0 10px 138.5pt">Ông(Bà):.................................</p>
                            }
                        </td>
                    </tr>
                    if (Model.DanhSachThamPhanDuKhuyet.Any())
                    {
                        <tr>
                            <td colspan="3">
                                <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                    Thẩm phán dự khuyết:
                                    @foreach (var item in Model.DanhSachThamPhanDuKhuyet)
                                    {
                                        if (item != @Model.DanhSachThamPhanDuKhuyet.Last())
                                        {
                                            <span>@(item.GioiTinh == "Nam" ? "Ông" : "Bà") @item.ThamPhanDuKhuyet, </span>
                                        }
                                        else
                                        {
                                        <span>@(item.GioiTinh == "Nam" ? "Ông" : "Bà") @item.ThamPhanDuKhuyet.</span>
                                        }
                                    }
                                </p>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">
                                <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                    Thẩm phán dự khuyết: Không.
                                </p>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="3">
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 5px 0">
                                Tiến hành hoạt động tố tụng đối với vụ án dân sự phúc thẩm thụ lý số: @(Model.SoThuLy ?? "........")/@(Model.NgayThuLy.Year==1 ? DateTime.Now.Year : Model.NgayThuLy.Year)/TLPT-DS ngày
                                @if (Model.NgayThuLy > DateTime.MinValue)
                    {
                        <span>@(Model.NgayThuLy.Day < 10 ? "0" + Model.NgayThuLy.Day.ToString() : Model.NgayThuLy.Day.ToString()) tháng @(Model.NgayThuLy.Month < 3 ? "0" + Model.NgayThuLy.Month.ToString() : Model.NgayThuLy.Month.ToString()) năm @Model.NgayThuLy.Year.ToString()</span>
                    }
                    else
                     {
                         <span>.....tháng.....năm..........</span>
                     }
                        về việc @Model.QuanHePhapLuat, giữa:
                            </p>
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 5px 0">
                                Nguyên đơn:
                                @if (Model.DanhSachNguyenDon.Any())
                                {
                                    foreach (var item in Model.DanhSachNguyenDon)
                                    {
                                        if (item != Model.DanhSachNguyenDon.Last())
                                        {
                                            if (item.DuongSuLa == "Cá nhân")
                                            {
                                                <span>@(item.GioiTinh == "Nam" ? "Ông " : "Bà ")@item.HoTenDuongSu,</span>
                                            }
                                            else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                            {
                                                <span>@item.TenCoQuanToChuc,</span>
                                            }
                                        }
                                        else
                                        {
                                            if (item.DuongSuLa == "Cá nhân")
                                            {
                                                <span>@(item.GioiTinh == "Nam" ? "Ông " : "Bà ")@item.HoTenDuongSu.</span>
                                            }
                                            else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                            {
                                                <span>@item.TenCoQuanToChuc.</span>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <span>..............................</span>
                                }
                            </p>
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                Bị đơn:
                                @if (Model.DanhSachBiDon.Any())
                                {
                                    foreach (var item in Model.DanhSachBiDon)
                                    {
                                        if (item != Model.DanhSachBiDon.Last())
                                        {
                                            if (item.DuongSuLa == "Cá nhân")
                                            {
                                                <span>@(item.GioiTinh == "Nam" ? "Ông " : "Bà ")@item.HoTenDuongSu,</span>
                                            }
                                            else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                            {
                                                <span>@item.TenCoQuanToChuc,</span>
                                            }
                                        }
                                        else
                                        {
                                            if (item.DuongSuLa == "Cá nhân")
                                            {
                                                <span>@(item.GioiTinh == "Nam" ? "Ông " : "Bà ")@item.HoTenDuongSu.</span>
                                            }
                                            else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                            {
                                                <span>@item.TenCoQuanToChuc.</span>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <span>..............................</span>
                                }
                            </p>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3">
                        <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                            <strong>Điều 2.</strong> Các Thẩm phán có tên trên thực hiện nhiệm vụ, quyền hạn quy định tại Điều 48 Bộ luật tố tụng dân sự.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height: 20px;"><td></td></tr>
    <tr valign="top" @*style="font-size:11pt"*@>
        <td colspan="3">
            <div style="float: left;font-size:11pt">
                <p style="font-size:12pt;margin-bottom:5px"><strong><i>Nơi nhận:</i></strong></p>
                <p style="margin:3px 0 3px 0">- Viện Kiểm sát nhân dân @Model.TenToaAn;</p>
                @if (Model.LoaiQuanHe.Equals("Yêu cầu"))
                {
                    <p style="margin:3px 0 3px 0">- Thẩm phán (thực hiện);</p>
                }
                else
                {
                    <p style="margin:3px 0 3px 0">- Thẩm phán, HTND (thực hiện);</p>
                }
                <p style="margin:3px 0 3px 0">- Lưu hồ sơ;</p>
                <p style="margin:3px 0 3px 0">- Lưu Tổ HC-TP.</p>
            </div>
            <div style="float: right; text-align:center;font-size:13pt;padding-right:50px">
                @if(Model.LoaiChanhAn.ToLower() =="chánh án")
                    {
                        <p><strong @*style="font-size:13pt"*@>CHÁNH ÁN</strong></p>
                    }
                    else
                    {
                        <p><strong>KT. CHÁNH ÁN <br />
                            PHÓ CHÁNH ÁN</strong></p>
                    }
                    
                <p style="margin: 100px 0 0 0"><strong>@Model.ChanhAn</strong></p>
            </div>
        </td>
    </tr>
</table>