@model Biz.TACM.Models.ViewModel.MauIn.MauInSo29ViewModel
@{
    string loaidon = null, phi = null;string ngay=null;
    if (Model.LoaiQuanHe.Equals("Tranh chấp"))
    { loaidon = "khởi kiện"; phi = "án phí";ngay = "07"; }
    else if (Model.LoaiQuanHe.Equals("Yêu cầu"))
    { loaidon = "yêu cầu"; phi = "lệ phí";ngay = "05"; }
}
@* margin is mapped with controller to print pdf *@
<table border="0" cellspacing="0" style="font-size: 14pt; font-family: 'Times New Roman'; margin: 56.7pt 42.525pt 56.7pt 85.05pt;">
    <tr>
        <td colspan="3">
            <p style="font-size:12pt;"> Hồ sơ: @Model.MaHoSo</p>
        </td>
    </tr>
    <tr style="height: 20px;"><td></td></tr>
    <tr valign="top">
        <td align="left" width="35%">
            <table cellspacing="0">
                <tr>
                    <td align="left" colspan="3" style="font-size: 12pt;">
                        <p style="text-align: center; margin: 0 0 10px 0;"><strong>TÒA ÁN NHÂN DÂN</strong></p>
                        <p style="text-align: center; margin: 0 0 0 0;"><strong>@Model.TenToaAn.ToUpper()</strong></p>
                        @if (Model.TenToaAn.IndexOf("huyện") != -1 || Model.TenToaAn.IndexOf("thành phố") != -1)
                        {
                            <p style="text-align: center; margin: 10px 0 0 0;"><strong>TỈNH CÀ MAU</strong></p>
                        }
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td width="70px" height="3px" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: black"></td>
                    <td></td>
                </tr>
                <tr style="height: 15px;"><td></td></tr>
                <tr style="text-align: center;">
                    <td colspan="3">
                        <p style="font-size:13pt;">Số: @Model.SoHoSo/@(Model.NgayRaThongBao.Year==1 ? DateTime.Now.Year :Model.NgayRaThongBao.Year)/TB-TA</p>
                    </td>
                </tr>
            </table>
        </td>
        <td width="5%"></td>
        <td align="right" width="55%">
            <table cellspacing="0">
                <tr style="text-transform: uppercase;">
                    <td colspan="3" style="text-align: center;">
                        <p style="margin: 0 0 10px 0; font-size: 12pt;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></p>
                        <p style="margin: 0 0 0 0;font-size:14pt"><strong>Độc lập - Tự do - Hạnh phúc</strong></p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td width="60%" height="3px" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: black"></td>
                    <td></td>
                </tr>
                <tr style="height: 15px;"><td></td></tr>
                <tr style="text-align: center;">
                    <td colspan="3">
                        <p style="font-size: 14pt;"><i>@Model.TenToaAn.Replace("huyện", "").Replace("thành phố", "TP.").Replace("tỉnh", ""), ngày 
                            @if(Model.NgayRaThongBao>DateTime.MinValue)
                            {
                                <span>@(Model.NgayRaThongBao.Day < 10 ? "0" + Model.NgayRaThongBao.Day.ToString() : Model.NgayRaThongBao.Day.ToString()) tháng @(Model.NgayRaThongBao.Month < 3 ? "0" + Model.NgayRaThongBao.Month.ToString() : Model.NgayRaThongBao.Month.ToString()) năm @Model.NgayRaThongBao.Year.ToString()</span>
                            }
                            else
                            {
                                <span>.....tháng.....năm..........</span>
                            }
                            </i></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height: 20px;"><td></td></tr>
    <tr>
        <td align="center" colspan="3">
            <p style="margin: 0 0 2px 0"><strong>THÔNG BÁO</strong></p>
            @if (Model.LoaiQuanHe.Equals("Tranh chấp"))
            {
                <p style="margin: 0 0 5px 0"><strong>NỘP TIỀN TẠM ỨNG ÁN PHÍ</strong></p>
            }
            else if (Model.LoaiQuanHe.Equals("Yêu cầu"))
            {
                <p style="margin: 0 0 5px 0"><strong>NỘP TIỀN TẠM ỨNG LỆ PHÍ</strong></p>
            }
        </td>
    </tr>
    <tr style="height: 20px;"><td></td></tr>
    <tr @*style="font-size:12pt"*@>
        <td colspan="3">
            <table style="margin: 0 0 10px 0; font-size: 14pt;">
                @if(Model.NguoiDuNop!=null)
                {
                    <tr style="height: 25px">
                            <td colspan="2" valign="top">
                                <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                        <span>Kính gửi: </span>
                                    @if (Model.NguoiDuNop.DuongSuLa == "Cá nhân")
                                    {
                                        @(Model.NguoiDuNop.GioiTinh == "Nam" ? "Ông " : "Bà ")@Model.NguoiDuNop.HoTenDuongSu<span>.</span>
                                    }
                                    else if (Model.NguoiDuNop.DuongSuLa == "Cơ quan, tổ chức")
                                    {
                                    @Model.NguoiDuNop.TenCoQuanToChuc<span>.</span>
                                    }
                                </p>
                            </td>
                        </tr>


                        <tr style="height: 25px;">
                            <td colspan="2" valign="top">
                                <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                    Địa chỉ: @(Model.NguoiDuNop.NoiTamTru ?? Model.NguoiDuNop.NoiDKHKTT)<span>.</span>
                                </p>
                            </td>
                        </tr>
                }
                else if (Model.DanhSachDuongSu.Count == 0)
                {
                    <tr style="height: 25px">
                        <td colspan="2" valign="top">
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                Kính gửi: Ông (Bà) ..................
                            </p>
                        </td>
                    </tr>


                    <tr style="height: 25px;">
                        <td colspan="2" valign="top">
                            <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                Địa chỉ: ......................................................
                            </p>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.DanhSachDuongSu)
                    {
                        <tr style="height: 25px">
                            <td colspan="2" valign="top">
                                <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                    @if (item == Model.DanhSachDuongSu.First())
                                    {
                                        <span>Kính gửi: </span>
                                    }

                                    @if (item.DuongSuLa == "Cá nhân")
                                    {
                                        @(item.GioiTinh == "Nam" ? "Ông " : "Bà ")@item.HoTenDuongSu<span>.</span>
                                    }
                                    else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                    {
                                    @item.TenCoQuanToChuc<span>.</span>
                                    }
                                </p>
                            </td>
                        </tr>


                        <tr style="height: 25px;">
                            <td colspan="2" valign="top">
                                <p style="text-align: justify; text-indent: 28.35pt; line-height: 1.15em; margin: 0 0 10px 0">
                                    Địa chỉ: @(item.NoiTamTru ?? item.NoiDKHKTT)<span>.</span>
                                </p>
                            </td>
                        </tr>
                    }
                }
            </table>
            <div>
                <p style="margin: 10px 0 10px 0; text-align: justify; text-indent: 28.35pt; line-height: 1.15em;">
                    Sau khi xem xét đơn @loaidon và các tài liệu, chứng cứ kèm theo;
                </p>
                <p style="margin: 0 0 10px 0; text-align: justify; text-indent: 28.35pt; line-height: 1.15em;">
                    Xét thấy vụ án theo đơn @loaidon của người @loaidon thuộc thẩm quyền
                    giải quyết của Toà án nhân dân @Model.TenToaAn và người @loaidon thuộc trường hợp
                    phải nộp tiền tạm ứng @phi theo quy định của pháp luật.
                </p>
                <p style="margin: 0 0 10px 0; text-align: justify; text-indent: 28.35pt; line-height: 1.15em;">
                    Căn cứ @if (Model.LoaiQuanHe == "Tranh chấp")
                    {
                        @Html.Raw("Điều 146 và khoản 1, khoản 2 Điều 195 của Bộ luật tố tụng dân sự;")
                    }
                    else if (Model.LoaiQuanHe == "Yêu cầu")
                    {
                        @Html.Raw("Điều 146 và điểm a khoản 4 Điều 363 của Bộ luật tố tụng dân sự;")
                    }
                </p>
                <p style="margin: 0 0 10px 0; text-align: justify; text-indent: 28.35pt; line-height: 1.15em;">
                    Tòa án nhân dân @Model.TenToaAn thông báo cho
                    @if(Model.NguoiDuNop!=null)
                    {
                        if (Model.NguoiDuNop.DuongSuLa == "Cá nhân")
                                {
                                    @(string.Format("{0}{1}, ", Model.NguoiDuNop.GioiTinh == "Nam" ? "ông " : "bà ", Model.NguoiDuNop.HoTenDuongSu))
                                }
                                else if (Model.NguoiDuNop.DuongSuLa == "Cơ quan, tổ chức")
                                {
                                    @Model.NguoiDuNop.TenCoQuanToChuc
                                }
                    }
                    else if (Model.DanhSachDuongSu.Count() == 0)
                    {
                        @(string.Format("{0}", "ông (bà) .................."))
                    }
                    else
                    {
                        foreach (var item in Model.DanhSachDuongSu)
                        {
                            if (item != Model.DanhSachDuongSu.Last())
                            {
                                if (item.DuongSuLa == "Cá nhân")
                                {
                                    @(string.Format("{0}{1}, ", item.GioiTinh == "Nam" ? "ông " : "bà ", item.HoTenDuongSu))
                                }
                                else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                {
                                    @(string.Format("{0}, ",item.TenCoQuanToChuc))
                                }
                            }
                            else
                            {
                                if (item.DuongSuLa == "Cá nhân")
                                {
                                    @(string.Format("{0}{1} ", item.GioiTinh == "Nam" ? "ông " : "bà ", item.HoTenDuongSu))
                                }
                                else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                {
                                    @item.TenCoQuanToChuc
                                }
                            }
                        }
                    }
                    biết.
                </p>
                <p style="margin: 0 0 10px 0; text-align: justify; text-indent: 28.35pt; line-height: 1.15em;">
                    Trong thời hạn @ngay ngày, kể từ ngày nhận được thông báo này
                    phải đến trụ sở @Model.CoQuanThiHanhAnThu, địa chỉ: @Model.DiaChiCoQuanThiHanhAnThu
                    để nộp số tiền tạm ứng @phi dân sự sơ thẩm là: @Model.GiaTriDuNopFormatted<span> đồng</span> (bằng chữ:
                    <i>@Model.GiaTriDuNopBangChu</i>) và nộp cho Tòa án nhân dân @Model.TenToaAn biên lai thu tiền
                    tạm ứng @phi dân sự sơ thẩm.
                </p>
                <p style="margin: 0 0 10px 0; text-align: justify; text-indent: 28.35pt; line-height: 1.15em;">
                    Hết thời hạn @ngay ngày, kể từ ngày nhận được thông báo này, nếu
                    @if(Model.NguoiDuNop!=null)
                    {
                        if (Model.NguoiDuNop.DuongSuLa == "Cá nhân")
                                {
                                    @(string.Format("{0}{1}, ", Model.NguoiDuNop.GioiTinh == "Nam" ? "ông " : "bà ", Model.NguoiDuNop.HoTenDuongSu))
                                }
                                else if (Model.NguoiDuNop.DuongSuLa == "Cơ quan, tổ chức")
                                {
                                    @Model.NguoiDuNop.TenCoQuanToChuc
                                }
                    }
                    else if (Model.DanhSachDuongSu.Count() == 0)
                    {
                        @(string.Format("{0}", "ông (bà) .................."))
                    }
                    else
                    {
                        foreach (var item in Model.DanhSachDuongSu)
                        {
                            if (item != Model.DanhSachDuongSu.Last())
                            {
                                if (item.DuongSuLa == "Cá nhân")
                                {
                                    @(string.Format("{0}{1}, ", item.GioiTinh == "Nam" ? "ông " : "bà ", item.HoTenDuongSu))
                                }
                                else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                {
                                    @item.TenCoQuanToChuc
                                }
                            }
                            else
                            {
                                if (item.DuongSuLa == "Cá nhân")
                                {
                                    @(string.Format("{0}{1} ", item.GioiTinh == "Nam" ? "ông " : "bà ", item.HoTenDuongSu))
                                }
                                else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                {
                                    @item.TenCoQuanToChuc
                                }
                            }
                        }
                    }
                    không nộp cho Tòa án biên lai thu tiền tạm ứng @phi mà không có lý
                    do chính đáng, thì Tòa án sẽ trả lại đơn @loaidon cho
                    @if(Model.NguoiDuNop!=null)
                    {
                        if (Model.NguoiDuNop.DuongSuLa == "Cá nhân")
                                {
                                    @(string.Format("{0}{1}, ", Model.NguoiDuNop.GioiTinh == "Nam" ? "ông " : "bà ", Model.NguoiDuNop.HoTenDuongSu))
                                }
                                else if (Model.NguoiDuNop.DuongSuLa == "Cơ quan, tổ chức")
                                {
                                    @Model.NguoiDuNop.TenCoQuanToChuc
                                }
                    }
                    else if (Model.DanhSachDuongSu.Count() == 0)
                    {
                        @(string.Format("{0}", "ông (bà) .................."))
                    }
                    else
                    {
                        foreach (var item in Model.DanhSachDuongSu)
                        {
                            if (item != Model.DanhSachDuongSu.Last())
                            {
                                if (item.DuongSuLa == "Cá nhân")
                                {
                                    @(string.Format("{0}{1}, ", item.GioiTinh == "Nam" ? "ông " : "bà ", item.HoTenDuongSu))
                                }
                                else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                {
                                    @item.TenCoQuanToChuc
                                }
                            }
                            else
                            {
                                if (item.DuongSuLa == "Cá nhân")
                                {
                                    @(string.Format("{0}{1} ", item.GioiTinh == "Nam" ? "ông " : "bà ", item.HoTenDuongSu))
                                }
                                else if (item.DuongSuLa == "Cơ quan, tổ chức")
                                {
                                    @item.TenCoQuanToChuc
                                }
                            }
                        }
                    }
                    theo quy định tại @if (Model.LoaiQuanHe == "Tranh chấp")
                    {
                        @Html.Raw("điểm d khoản 1 Điều 192 của Bộ luật tố tụng dân sự.")
                    }
                    else if (Model.LoaiQuanHe == "Yêu cầu")
                    {
                        @Html.Raw("điểm đ khoản 1 Điều 364 của Bộ luật tố tụng dân sự.")
                    }
                </p>
            </div>
        </td>
    </tr>
    <tr style="height: 50px;"><td></td></tr>
    <tr valign="top" @*style="font-size:11pt"*@>
        <td style="font-size:11pt">
            <p style="font-size:12pt;margin-bottom:5px"><strong><i>Nơi nhận:</i></strong></p>
            <p style="margin:3px 0 3px 0">- Như trên;</p>
            <p style="margin:3px 0 3px 0">- Lưu hồ sơ vụ án.</p>
        </td>
        <td></td>
        <td align="right" style="font-size:13pt">
            <div style="float: right; text-align:center;font-size:13pt;padding-right:50px">
                <p><strong @*style="font-size:13pt"*@>THẨM PHÁN</strong></p>
                
                <p style="margin: 100px 0 0 0"><strong>@Model.ThamPhan</strong></p>
            </div>
        </td>
    </tr>
</table>