@using Biz.Lib.TACM.Resources.Resources
@model Biz.TACM.Models.ViewModel.HuyHoSo.HoSoVuAnViewModel
<div class="modal-header">
    <h5 class="modal-title text-uppercase">@ViewText.TITLE_CAPNHATHOSOHUY</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
             @using (Html.BeginForm("SuaHuyHoSo", "HuyHoSo", FormMethod.Post, new { id = "formSuaHuyHoSo" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.HoSoVuAnID)
            <div class="row">
                <div class="col-md-5">
                    <label>@ViewText.LABEL_LYDOHUY<span class="input-required">*</span></label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    @Html.TextAreaFor(m => m.LyDoHuy, new { @class = "form-control", @maxlength = 2000, id = "ly-do-HuyHoSo-update" })
                    <small class="form-text text-danger"><span for="ly-do-HuyHoSo-update"></span></small>
                </div>
            </div>
        }
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default text-uppercase pull-left" data-dismiss="modal">@ViewText.BUTTON_HUY</button>
    <button type="button" class="btn btn-danger text-uppercase pull-right" id="Sua-HuyHoSo-btn">@ViewText.BUTTON_LUU</button>
</div>
<script>
    $(function () {
        SuaHuyHoSoModule.init();
    });
</script>

