@using Biz.Lib.TACM.Resources.Resources
@model Biz.TACM.Models.ViewModel.QuanLyNhanVien.NhanVienViewModel
@using (Html.BeginForm("CapNhatNhanVien", "QuanLyNhanVien", FormMethod.Post, new { id = "formcapnhapnhanvien" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="NhanvienID" value="@Model.NhanvienID">
    <div class="modal-header">
        <h5 class="text-uppercase">@ViewText.TITLE_CAPNHAT_THONGTIN_NHANVIEN</h5>
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
    </div>
    <div class="modal-body">
        <div class="row" style="padding-left:15px;padding-right:15px">
            <div class="col-12">

                <div class="row mb-2">
                    <div class="col-6">
                        <label class="font-weight-bold">@ViewText.LABEL_MANV</label>
                    </div>
                    <div class="col-6">
                        @Html.HiddenFor(x=>x.MaNV)
                        @Html.TextBoxFor(x => x.MaNVMoi, new {@class = "form-control"})
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.MaNVMoi)</small>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-6">
                        <label>@ViewText.LABEL_HO<span class="input-required">*</span></label>
                    </div>
                    <div class="col-6">
                        @Html.TextBoxFor(x => x.HoNV, new { @class = "form-control" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.HoNV)</small>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-6">
                        <label>@ViewText.LABEL_TENLOT</label>
                    </div>
                    <div class="col-6">
                        @Html.TextBoxFor(x => x.TenLotNV, new { @class = "form-control" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.TenLotNV)</small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label>@ViewText.LABEL_TEN<span class="input-required">*</span></label>
                    </div>
                    <div class="col-6">
                        @Html.TextBoxFor(x => x.TenNV, new { @class = "form-control" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.TenNV)</small>
                    </div>
                </div>


                <div class="row mb-2">
                    <div class="col-6">
                        <label>@ViewText.LABEL_GIOITINH<span class="input-required">*</span></label>
                    </div>
                    <div class="col-6">
                        @Html.DropDownList("GioiTinh", (SelectList)ViewBag.listGioiTinh, Setting.DDL_CHOOSE, new { @class = "form-control" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.GioiTinh)</small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label>@ViewText.LABEL_NGAYSINH</label>
                    </div>
                    <div class="col-6">
                        <div class="input-group date" id="ngay-thang-nam-sinh-sua">
                            @Html.TextBoxFor(x => x.NgaySinh, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.NgaySinh)</small>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-6">
                        <label>@ViewText.LABEL_SODIENTHOAI</label>
                    </div>
                    <div class="col-6">
                        @Html.TextBoxFor(x => x.SoDienThoai, new { @class = "form-control" })

                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.SoDienThoai)</small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label>@ViewText.LABEL_EMAIL<span class="input-required">*</span></label>
                    </div>
                    <div class="col-6">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.Email)</small>
                    </div>
                </div>

                @*trạng thái*@

                <div class="row mb-2">
                    <div class="col-6">
                        <label>@ViewText.LABEL_TRANGTHAI<span class="input-required">*</span></label>
                    </div>
                    <div class="col-6">
                        @Html.DropDownList("TrangThai", (SelectList)ViewBag.listhoatdong, Setting.DDL_CHOOSE, new { @class = "form-control" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.TrangThai)</small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label>@ViewText.LABEL_CHUCDANH<span class="input-required">*</span></label>
                    </div>
                    <div class="col-6">
                        @Html.DropDownList("SoDoToChucID", (SelectList)ViewBag.listChucDanh, Setting.DDL_CHOOSE, new { @class = "form-control" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.SoDoToChucID)</small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label>@ViewText.LABEL_TENCHUCVU</label>
                    </div>
                    <div class="col-6">
                        @Html.DropDownList("SoDoToChucChucVuID", (SelectList)ViewBag.listChucVu, Setting.DDL_CHOOSE, new { @class = "form-control" })
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default text-uppercase pull-left" data-dismiss="modal">@ViewText.BUTTON_HUY</button>
        <button type="button" class="btn btn-danger text-uppercase pull-right" id="btn_sua_nhan_vien">@ViewText.BUTTON_LUU</button>
    </div>
}
<script type="text/javascript">
    $(function () {
        SuaNhanVienModel.init();
    });
</script>