@using Biz.Lib.TACM.Resources.Resources
@model Biz.Lib.TACM.ThongKeGiamSat.Models.DuLieuThongKeTrucTuyenModel


<table class="table table-bordered table-custom text-center" cellspacing="0" id="thong-ke-truc-tuyen-table" style="width: 100%;">
    <thead class="text-uppercase">
        <tr>
            <td rowspan="4" class="text-uppercase">@ViewText.TABLE_STT</td>
            <td rowspan="4" class="text-uppercase">@ViewText.TABLE_THAMPHAN</td>
            <td colspan="4" class="text-uppercase border-bottom-0">@ViewText.TABLE_NHOMAN_HINHSU</td>
            <td colspan="4" class="text-uppercase border-bottom-0">@ViewText.TABLE_NHOMAN_DANSU</td>
            <td colspan="4" class="text-uppercase border-bottom-0">@ViewText.TABLE_NHOMAN_HNGD</td>
            <td colspan="4" class="text-uppercase border-bottom-0">@ViewText.TABLE_NHOMAN_KDTM</td>
            <td colspan="4" class="text-uppercase border-bottom-0">@ViewText.TABLE_NHOMAN_HANHCHINH</td>
            <td colspan="4" class="text-uppercase border-bottom-0">@ViewText.TABLE_NHOMAN_LAODONG</td>
            <td colspan="4" class="text-uppercase border-bottom-0">ADBPXLHC</td>
            <td colspan="7" rowspan="2" class="text-uppercase border-bottom-0">@ViewText.TABLE_TONGTHULY_VAGIAIQUYET</td>
        </tr>
        <tr>
            <td colspan="2" class="border-bottom-0">@ViewText.TABLE_ST</td>
            <td colspan="2" class="border-bottom-0">@ViewText.TABLE_PT</td>

            <td colspan="2" class="border-bottom-0">@ViewText.TABLE_ST</td>
            <td colspan="2" class="border-bottom-0">@ViewText.TABLE_PT</td>

            <td colspan="2" class="border-bottom-0">@ViewText.TABLE_ST</td>
            <td colspan="2" class="border-bottom-0">@ViewText.TABLE_PT</td>

            <td colspan="2" class="border-bottom-0">@ViewText.TABLE_ST</td>
            <td colspan="2" class="border-bottom-0">@ViewText.TABLE_PT</td>

            <td colspan="2" class="border-bottom-0">@ViewText.TABLE_ST</td>
            <td colspan="2" class="border-bottom-0">@ViewText.TABLE_PT</td>

            <td colspan="2" class="border-bottom-0">@ViewText.TABLE_ST</td>
            <td colspan="2" class="border-bottom-0">@ViewText.TABLE_PT</td>

            <td colspan="4" class="border-bottom-0"></td>


        </tr>
        <tr>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_TL</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_GQ</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_TL</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_GQ</td>

            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_TL</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_GQ</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_TL</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_GQ</td>

            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_TL</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_GQ</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_TL</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_GQ</td>

            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_TL</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_GQ</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_TL</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_GQ</td>

            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_TL</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_GQ</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_TL</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_GQ</td>

            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_TL</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_GQ</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_TL</td>
            <td rowspan="2" class="col-nhoman">@ViewText.TABLE_GQ</td>

            <td rowspan="3" colspan="2" class="col-nhoman-ad">@ViewText.TABLE_TL</td>
            <td rowspan="3" colspan="2" class="col-nhoman-ad">@ViewText.TABLE_GQ</td>

            <td colspan="3" class="border-bottom-0">@ViewText.TABLE_TL</td>
            <td colspan="3" class="border-bottom-0">@ViewText.TABLE_GQ</td>

            <td rowspan="2">@ViewText.TABLE_CL</td>
        </tr>
        <tr>
            <td class="text-uppercase">@ViewText.TABLE_TONG</td>
            <td>@ViewText.TABLE_ST</td>
            <td>@ViewText.TABLE_PT</td>

            <td class="text-uppercase">@ViewText.TABLE_TONG</td>
            <td>@ViewText.TABLE_ST</td>
            <td>@ViewText.TABLE_PT</td>
        </tr>
    </thead>

    <tbody>
        @if (Model.ListData.Any())
        {

            foreach (var item in Model.ListData)
            {
                <tr class="@(int.Parse(item.STT) % 2 == 0 ? "row-dark-color":"")">
                    <td>@item.STT</td>
                    <td class="text-left" style="padding-left: 10px;">@item.ThamPhan</td>
                    <td>@(item.HSSTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.HSSTTL))</td>
                    <td>@(item.HSSTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.HSSTGQ))</td>
                    <td>@(item.HSPTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.HSPTTL))</td>
                    <td>@(item.HSPTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.HSPTGQ))</td>

                    <td>@(item.DSSTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.DSSTTL))</td>
                    <td>@(item.DSSTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.DSSTGQ))</td>
                    <td>@(item.DSPTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.DSPTTL))</td>
                    <td>@(item.DSPTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.DSPTGQ))</td>

                    <td>@(item.HNSTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.HNSTTL))</td>
                    <td>@(item.HNSTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.HNSTGQ))</td>
                    <td>@(item.HNPTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.HNPTTL))</td>
                    <td>@(item.HNPTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.HNPTGQ))</td>

                    <td>@(item.KTSTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.KTSTTL))</td>
                    <td>@(item.KTSTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.KTSTGQ))</td>
                    <td>@(item.KTPTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.KTPTTL))</td>
                    <td>@(item.KTPTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.KTPTGQ))</td>

                    <td>@(item.HCSTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.HCSTTL))</td>
                    <td>@(item.HCSTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.HCSTGQ))</td>
                    <td>@(item.HCPTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.HCPTTL))</td>
                    <td>@(item.HCPTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.HCPTGQ))</td>

                    <td>@(item.LDSTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.LDSTTL))</td>
                    <td>@(item.LDSTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.LDSTGQ))</td>
                    <td>@(item.LDPTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.LDPTTL))</td>
                    <td>@(item.LDPTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.LDPTGQ))</td>

                    <td colspan="2">@(item.ADTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.ADTL))</td>
                    <td colspan="2">@(item.ADGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.ADGQ))</td>

                    <td class="column-tong">@(item.TONGTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.TONGTL))</td>
                    <td>@(item.TONGTLST == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.TONGTLST))</td>
                    <td>@(item.TONGTLPT == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.TONGTLPT))</td>

                    <td class="column-tong">@(item.TONGGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.TONGGQ))</td>
                    <td>@(item.TONGGQST == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.TONGGQST))</td>
                    <td>@(item.TONGGQPT == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.TONGGQPT))</td>

                    <td class="column-tong">@(item.TONGCL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, item.TONGCL))</td>
                </tr>
            }
                <tr id="tong-cong-td" class="tong-cong-dark-color">
                    <td colspan="2" class="text-center"><strong>Tổng cộng</strong></td>
                    <td>@(Model.TONG_HSSTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_HSSTTL))</td>
                    <td>@(Model.TONG_HSSTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_HSSTGQ))</td>
                    <td>@(Model.TONG_HSPTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_HSPTTL))</td>
                    <td>@(Model.TONG_HSPTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_HSPTGQ))</td>

                    <td>@(Model.TONG_DSSTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_DSSTTL))</td>
                    <td>@(Model.TONG_DSSTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_DSSTGQ))</td>
                    <td>@(Model.TONG_DSPTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_DSPTTL))</td>
                    <td>@(Model.TONG_DSPTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_DSPTGQ))</td>

                    <td>@(Model.TONG_HNSTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_HNSTTL))</td>
                    <td>@(Model.TONG_HNSTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_HNSTGQ))</td>
                    <td>@(Model.TONG_HNPTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_HNPTTL))</td>
                    <td>@(Model.TONG_HNPTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_HNPTGQ))</td>

                    <td>@(Model.TONG_KTSTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_KTSTTL))</td>
                    <td>@(Model.TONG_KTSTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_KTSTGQ))</td>
                    <td>@(Model.TONG_KTPTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_KTPTTL))</td>
                    <td>@(Model.TONG_KTPTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_KTPTGQ))</td>

                    <td>@(Model.TONG_HCSTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_HCSTTL))</td>
                    <td>@(Model.TONG_HCSTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_HCSTGQ))</td>
                    <td>@(Model.TONG_HCPTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_HCPTTL))</td>
                    <td>@(Model.TONG_HCPTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_HCPTGQ))</td>

                    <td>@(Model.TONG_LDSTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_LDSTTL))</td>
                    <td>@(Model.TONG_LDSTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_LDSTGQ))</td>
                    <td>@(Model.TONG_LDPTTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_LDPTTL))</td>
                    <td>@(Model.TONG_LDPTGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_LDPTGQ))</td>

                    <td colspan="2">@(Model.TONG_ADTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_ADTL))</td>
                    <td colspan="2">@(Model.TONG_ADGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_ADGQ))</td>

                    <td class="column-tong">@(Model.TONG_TONGTL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_TONGTL))</td>
                    <td>@(Model.TONG_TONGTLST == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_TONGTLST))</td>
                    <td>@(Model.TONG_TONGTLPT == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_TONGTLPT))</td>

                    <td class="column-tong">@(Model.TONG_TONGGQ == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_TONGGQ))</td>
                    <td>@(Model.TONG_TONGGQST == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_TONGGQST))</td>
                    <td>@(Model.TONG_TONGGQPT == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_TONGGQPT))</td>

                    <td class="column-tong">@(Model.TONG_TONGCL == 0 ? "" : string.Format(Setting.FORMAT_NUMBER_THOUSANDS, Model.TONG_TONGCL))</td>
                    
                </tr>
        }
        else
        {
            <tr>
                <td colspan="33" class="dataTables_empty">@NotifyMessage.CHUACO_DULIEU</td>
            </tr>
        }

    </tbody>
</table>

<script type="text/javascript">
    $(function () {
        if ($("#tong-cong-td").prev().hasClass("row-dark-color")) {
            $("#tong-cong-td").removeClass("tong-cong-dark-color");
        } else {
            $(this).addClass("tong-cong-dark-color");
        }
    });
</script>