@using Biz.Lib.TACM.Resources.Resources
@model Biz.TACM.Models.ViewModel.SauXetXu.KhangCao.SuaKhangCaoModalViewModel
<div class="modal-header">
    <h5 class="modal-title text-uppercase">@(ViewBag.NhomAn == Setting.MANHOMAN_APDUNG_BPXLHC ? ViewText.LABEL_KHIEUNAI_KIENNGHI : ViewText.LABEL_KHANGCAO)</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@using (Html.BeginForm("SuaKhangCao", "SauXetXu", FormMethod.Post, new { id = "sua-khang-cao-form" }))
{
    @Html.HiddenFor(m => m.KhangCaoId, new { id = "khang-cao-id-hidden"})
<div class="modal-body">
    
    @if (ViewBag.NhomAn == Setting.MANHOMAN_APDUNG_BPXLHC)
    {
        <div class="row">
            <div class="col-6">
                <label>@ViewText.LABEL_NGUOIKHIEUNAI_KIENNGHI<span class="input-required">*</span></label>
            </div>
            <div class="col-6">
                @Html.DropDownListFor(m=>m.NguoiKhieuNai, Model.DanhSachDuongSu, Setting.DDL_CHOOSE, new { @class = "form-control", Name= "nguoi-khieu-nai-dropdownlist", id= "nguoi-khieu-nai-dropdownlist" })
                <small class="form-text text-danger"><span for="nguoi-khieu-nai-dropdownlist"></span></small>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-6">
                <label>@ViewText.LABEL_NGUOIKHANGCAO<span class="input-required">*</span></label>
            </div>
            <div class="col-6">
                @Html.DropDownListFor(m => m.DuongSuId, Model.DanhSachDuongSu, Setting.DDL_CHOOSE, new { @class = "form-control", Name = "nguoi-khang-cao-dropdownlist", id = "nguoi-khang-cao-dropdownlist" })
                <small class="form-text text-danger"><span for="nguoi-khang-cao-dropdownlist"></span></small>
            </div>
        </div>
    }
    <br />
    <div class="row">
        @Html.HiddenFor(m => m.NgayLamDon, new { id = "ngay-lam-don-hidden" })
        <div class="col-6">
            <label>@(ViewBag.NhomAn == Setting.MANHOMAN_APDUNG_BPXLHC ? ViewText.LABEL_NGAY_KHIEUNAI_KIENNGHI : ViewText.LABEL_NGAYLAMDON_KHANGCAO)<span class="input-required">*</span></label>
        </div>
        <div class="col-6">
            <div class="input-group" id="ngay-lam-don-khang-cao-dtp">
                <input type="text" class="form-control" name="ngay-lam-don-khang-cao-dtp" id="ngay-lam-don-khang-cao-input" />
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
            <small class="form-text text-danger"><span for="ngay-lam-don-khang-cao-input"></span></small>
        </div>
    </div>
    <br />
    <div class="row">
        @Html.HiddenFor(m => m.NgayNopDon, new { id = "ngay-nop-don-hidden" })
        <div class="col-6">
            <label>@(ViewBag.NhomAn == Setting.MANHOMAN_APDUNG_BPXLHC ? ViewText.LABEL_NGAYNHAN_KHIEUNAI_KIENNGHI : ViewText.LABEL_NGAYNOPDON_KHANGCAO)<span class="input-required">*</span></label>
        </div>
        <div class="col-6">
            <div class="input-group" id="ngay-nop-don-khang-cao-dtp">
                <input type="text" class="form-control" name="ngay-nop-don-khang-cao-dtp" id="ngay-nop-don-khang-cao-input" />
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
            <small class="form-text text-danger"><span for="ngay-nop-don-khang-cao-input"></span></small>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <label>@ViewText.LABEL_HINHTHUCNOP<span class="input-required">*</span></label>
        </div>
        <div class="col-6">
            @Html.DropDownListFor(m => m.HinhThucNop, Model.DanhSachHinhThucNop, Setting.DDL_CHOOSE, new { @class = "form-control", Name = "hinh-thuc-dropdownlist", id = "hinh-thuc-dropdownlist" })
            <small class="form-text text-danger"><span for="hinh-thuc-dropdownlist"></span></small>
        </div>
    </div>
    <br />
    @if (ViewBag.NhomAn != Setting.MANHOMAN_APDUNG_BPXLHC)
    {
        <div class="row">
            <div class="col-6">
                <label>@ViewText.LABEL_TINHTRANG_KHANGCAO<span class="input-required">*</span></label>
            </div>
            <div class="col-6">
                @Html.DropDownListFor(m => m.TinhTrangKhangCao, Model.DanhSachTinhTrangKhangCao, Setting.DDL_CHOOSE, new {@class = "form-control", Name = "tinh-trang-dropdownlist", id = "tinh-trang-dropdownlist"})
                <small class="form-text text-danger"><span for="tinh-trang-dropdownlist"></span></small>
            </div>
        </div>
        <br/>
    }
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs" role="tablist" id="tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#noi-dung-khang-cao-tab" role="tab">@(ViewBag.NhomAn == Setting.MANHOMAN_APDUNG_BPXLHC ? ViewText.LABEL_NOIDUNG_KHIEUNAI_KIENNGHI : ViewText.LABEL_NOIDUNG_KHANGCAO)<span class="input-required">*</span></a>
                </li>
                @if (ViewBag.NhomAn == Setting.MANHOMAN_APDUNG_BPXLHC)
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#ly-do-tab" role="tab">@ViewText.LABEL_LYDO_CANCU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#ghi-chu-tab" role="tab">@ViewText.LABEL_GHICHU</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tai-lieu-chung-tu-tab" role="tab">@ViewText.LABEL_TAILIEU_KEMTHEO</a>
                    </li>
                }
            </ul>
            <div class="tab-content p-1">
                <div class="tab-pane active" id="noi-dung-khang-cao-tab" role="tabpanel">
                    @Html.TextAreaFor(m => m.NoiDungKhangCao, new { @class = "form-control", Name = "noi-dung-khang-cao-textarea", id = "noi-dung-khang-cao-textarea", style = "width: 100%" })
                    <small class="form-text text-danger"><span for="noi-dung-khang-cao-textarea"></span></small>
                </div>
                @if (ViewBag.NhomAn == Setting.MANHOMAN_APDUNG_BPXLHC)
                {
                    <div class="tab-pane" id="ly-do-tab" role="tabpanel">
                        @Html.TextAreaFor(m=>m.LyDo, new { @class = "form-control", Name= "ly-do-textarea", id= "ly-do-textarea", style = "width: 100%" })
                    </div>
                    <div class="tab-pane" id="ghi-chu-tab" role="tabpanel">
                        @Html.TextAreaFor(m=>m.GhiChu, new {@class = "form-control", Name= "ghi-chu-textarea", id= "ghi-chu-textarea", style = "width: 100%"})
                    </div>
                }
                else
                {
                    <div class="tab-pane" id="tai-lieu-chung-tu-tab" role="tabpanel">
                        @Html.TextAreaFor(m => m.TaiLieuChungTuKemTheo, new { @class = "form-control", Name = "tai-lieu-chung-tu-kem-theo-textarea", id = "tai-lieu-chung-tu-kem-theo-textarea", style = "width: 100%" })                      
                    </div>
                }
                
            </div>            
        </div>
    </div>
    @*<div class="row">
        <div class="col-12">
            <label>@ViewText.LABEL_NOIDUNG_KHANGCAO<span class="input-required">*</span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @Html.TextAreaFor(m => m.NoiDungKhangCao, new { @class = "form-control", Name = "noi-dung-khang-cao-textarea", id = "noi-dung-khang-cao-textarea", style = "width: 100%" })
            <small class="form-text text-danger"><span for="noi-dung-khang-cao-textarea"></span></small>
        </div>
    </div>*@
</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default text-uppercase" data-dismiss="modal">@ViewText.BUTTON_HUY</button>
        <button type="button" class="btn btn-danger text-uppercase" id="sua-khang-cao-btn">@ViewText.BUTTON_LUU</button>
    </div>
}
<script type="text/javascript">
    $(function () {
        SuaKhangCaoModalModule.init();
    });
</script>
