@*@using Biz.Lib.TACM.Resources.Resources

<div class="container-fluid row">
    <div id="ho-so-chua-pctp-container" style="width: 100%">
        <table class="table table-hover table-bordered table-custom" cellspacing="0" id="ho-so-chua-pctp-table" style="width: 100%">
            <thead class="thead-default">
                <tr>
                    <td>@ViewText.TABLE_STT</td>
                    <td>@ViewText.TABLE_SO</td>
                    <td>@ViewText.TABLE_MAHOSO</td>
                    <td>@ViewText.TABLE_TENVUAN</td>
                    <td>@ViewText.TALBLE_NHOMAN</td>
                    <td>@ViewText.TABLE_GIAIDOAN</td>
                    <td>Quan Hệ Pháp Luật / Tội</td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>
</div>*@