@using Biz.Lib.TACM.Resources.Resources
<input type="hidden" id="loaiThongKe" value="@ViewBag.LoaiThongKe" />
<table class="table table-hover table-bordered table-custom" cellspacing="0" id="bao-cao-thong-ke-table" style="width: 100%; padding-left: 0; padding-right: 0;">
    <thead class="thead-default">
        <tr>
            <td>@ViewText.TABLE_NHOMAN</td>
            <td>@ViewText.TABLE_THULY</td>
            <td>@ViewText.TABLE_CANGIAIQUYET</td>
            <td>@ViewText.TABLE_DAGIAIQUYET</td>
            <td>@ViewText.TABLE_CONLAI</td>
            <td>@ViewText.TABLE_TAMDINHCHI</td>
            <td>@ViewText.TABLE_QUAHAN</td>
        </tr>
    </thead>
</table>
