
@using Biz.Lib.TACM.Resources.Resources
@model Biz.TACM.Models.ViewModel.NhanDon.ThamPhanViewModel

<input type="hidden" id="roleNhanVienThamPhan" value="@ViewBag.RoleNhanVien" />
@if (Model != null)
{
    <div class="row">
        <div class="col-12">
            @Html.DropDownList("ddlNgayTao", (SelectList)ViewBag.listNgayTao, null, new { @id = "selectNgayTaoThamPhan", @class = "custom-select mb-2" })
            <button id="btnSuaThamPhan" class="btn btn-sm btn-outline-primary btn-custom-size float-right mt-2" data-trigger="modal" data-target="#modal" data-url="@Url.Action("EditThamPhan", "NhanDon", new{ hoSoVuAnId = Model.HoSoVuAnID , thamPhanId = Model.ThamPhanID})"><i class="fa fa-pencil-square-o"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_THAMPHAN</span><span class="font-weight-bold">@(Model.NhanVienThamPhan == null ? "" : Model.NhanVienThamPhan.HoTenVaMaNV)</span></li>
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_NGAYPHANCONG</span><span class="font-weight-bold">@Model.NgayPhanCong</span></li>
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_NGUOIPHANCONG</span><span class="font-weight-bold">@(Model.NhanVienPhanCong == null ? "" : Model.NhanVienPhanCong.HoTenVaMaNV)</span></li>
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_NGUOITAO</span><span class="font-weight-bold">@Model.NguoiTao</span></li>
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_NGAYTAO</span><span class="font-weight-bold">@Model.NgayTao</span></li>
            </ul>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-block">
                    <p><strong>@ViewText.LABEL_GHICHU</strong></p>
                    <div class="card">
                        <div class="card-block" style="height: 140px; overflow-y: scroll">
                            @Html.Raw(Model.GhiChu)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <button id="btnThemThamPhan" class="btn btn-sm btn-primary float-right mt-2 mb-2" data-trigger="modal" data-target="#modal" data-url="@Url.Action("EditThamPhan", "NhanDon", new{ ViewBag.hoSoVuAnId , thamPhanId = 0})"><i class="fa fa-plus btn-icon-size"></i></button>
                </div>
            </div>
            <div class="mb-1 text-center empty-data">
                <blockquote>
                    <strong>@NotifyMessage.CHUACO_DULIEU</strong>
                </blockquote>
            </div>
        </div>
    </div>    
}
<script>
    //$(document).ready(function () {
    //    if ($("#roleNhanVienThamPhan").val() == -1) {
    //        $("#btnSuaThamPhan").addClass("edit-disabled");
    //        $("#btnThemThamPhan").addClass("add-disabled");
    //    }
    //});
</script>