@using Biz.Lib.TACM.Resources.Resources
@model Biz.TACM.Models.ViewModel.SoDoToChuc.ChucDanhViewModel

@using (Html.BeginForm("ThemChucDanh", "SoDoToChuc", FormMethod.Post, new { id = "formThemChucDanh" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="ChucDanhID" value="@Model.SoDoToChucID" />
    <input type="hidden" name="ToaAnID" value="@Model.ToaAnID" />
    <input type="hidden" name="Loai" value="1" />
    <div class="modal-header">
        <h5 class="modal-title text-uppercase">@ViewText.LABEL_THEMMOI</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="row mb-2">
                    <div class="col-6">
                        <label>@ViewText.LABEL_TENCHUCDANH<span class="input-required">*</span></label>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        @Html.TextBoxFor(m => m.ChucDanh, new { @class = "form-control" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(m => m.ChucDanh)</small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label>@ViewText.LABEL_CHUCDANHCHA</label>@*<span class="input-required">*</span>*@
                    </div>
                </div>
                <div class="row mb-2">
                    <div id="ddlTreeView" class="col-12" tabindex="-1">
                        @*@Html.DropDownListFor(m => m.ChucDanhChaID, (SelectList)ViewBag.listChucDanh, "Không có", new { @class = "form-control" })*@
                        <select id="treeviewDropdownBtn" name="ChucDanhChaID" class="form-control">
                            <option id="chucDanhCha" selected hidden>@ViewText.LABEL_KHONGCO</option>
                        </select>
                        <div id="treeview" style="display: none; position: absolute; z-index: 1000; width: calc(100% - 30px);">
                            <table class="tree tree-ddlist table table-hover table-bordered">
                                @foreach (var item in ViewBag.listChucDanh)
                                {
                                    <tr class="treegrid-@item.SoDoToChucID @(item.ChucDanhChaID == 0 ? "" : "treegrid-parent-" + item.ChucDanhChaID)">
                                        <td style="min-width: 250px;">
                                            <span class="align-text-bottom itemChucDanhChaSoDoToChuc" data-id="@item.SoDoToChucID" data-chuc-danh="@item.ChucDanh" style="text-decoration: none; color: rgb(2, 117, 216);">
                                                @item.ChucDanh
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label>@ViewText.LABEL_DIENDAI_CHUCDANH</label>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        @Html.TextAreaFor(m => m.DienGiaiNghiepVu, new { @class = "form-control tinymce-editor", id = "dien-giai-nghiep-vu-them-textarea", @style = "width:100%", @rows = "5" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default text-uppercase pull-left" data-dismiss="modal">@ViewText.BUTTON_HUY</button>
        <button type="button" class="btn btn-danger text-uppercase pull-right" id="them-chuc-danh-btn">@ViewText.BUTTON_LUU</button>
    </div>
}

<script type="text/javascript">
    $(function () {
        ThemChucDanhModule.init();
    });
</script>