@using Biz.Lib.TACM.Resources.Resources
@model Biz.Lib.Authentication.ChangePasswordModel
@{
    ViewBag.Title = ViewText.TITLE_DOIMATKHAU;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-frame">
    <h3 class="text-center text-uppercase mb-4">@ViewText.BUTTON_DOIMATKHAU</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @using (@Html.BeginForm("ChangeForgotPassword", "Account", FormMethod.Post, new { id = "changeForgotPasswordForm", name = "changeForgotPasswordForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="text-center mb-2">
                        @Html.Raw(ViewBag.message)
                    </div>
                    <div class="text-center mb-2">
                        <label>@ViewText.TEXT_CHANGEPASSWORD_LENGTH</label>
                    </div>
                    @*@Html.HiddenFor(m => m.OldPassword)*@


                    <div class="mb-3">
                        @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control text-center", @maxlength = 16, @type = "password", placeholder = "Mật khẩu mới" })
                        <small class="form-text text-danger"><span for="NewPassword"></span></small>
                    </div>
                    <div class="mb-4">
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control text-center", @maxlength = 16, @type = "password", placeholder = "Nhập lại mật khẩu mới" })
                        <small class="form-text text-danger"><span for="ConfirmPassword"></span></small>
                    </div>
                    <div class="text-center mb-0">
                        <button class="btn btn-danger btn-lg text-uppercase" type="submit">@ViewText.BUTTON_DOIMATKHAU</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#changeForgotPasswordForm").on("submit",
            function () {
                if ($("#changeForgotPasswordForm").valid()) {
                    $.ajax({
                        type: $("#changeForgotPasswordForm").prop("method"),
                        url: $("#changeForgotPasswordForm").prop("action"),
                        data: $("#changeForgotPasswordForm").serialize(),
                        success: function (response) {
                            if (!response.IsSuccess) {
                                $.notify({ message: response.Messages[0] }, { type: "danger" });
                                //use this if changeForgotPasswordForm use action ChangeForgotPassword
                                //$("NewPassword").text(response.data.NewPassword);
                                //$("ConfirmPassword").text(response.data.ConfirmPassword);
                            }
                            else {
                                $.notify({ message: response.Messages[0] }, { type: "success", onClosed: function () {
                                    window.location = response.Messages[1];
                                } });
                            }
                        }
                    });
                }
                return false;
            }
        );

        $("#changeForgotPasswordForm").validate({
            ignore: '',
            rules: {
                "NewPassword": {
                    required: true,
                    minlength: 6,
                    maxlength: 15
                },
                "ConfirmPassword": {
                    required: true,
                    minlength: 6,
                    maxlength: 15,
                    equalTo: "#NewPassword"

                }
            },
            messages:
            {
                "NewPassword": {
                    required: "@string.Format(ValidationMessages.VALIDATION_KIEMTRARONG,"Mật khẩu mới")",
                    minlength: "@string.Format(ValidationMessages.VALIDATION_SOLUONGKYTUTOITHIEU, "Mật khẩu mới","6")",
                    maxlength: "@string.Format(ValidationMessages.VALIDATION_SOLUONGKYTUTOIDA, "Mật khẩu mới","15")"
                },
                "ConfirmPassword": {
                   required: "@string.Format(ValidationMessages.VALIDATION_KIEMTRARONG,"Nhập lại mật khẩu mới")",
                    minlength: "@string.Format(ValidationMessages.VALIDATION_SOLUONGKYTUTOITHIEU, "Nhập lại mật khẩu mới","6")",
                    maxlength: "@string.Format(ValidationMessages.VALIDATION_SOLUONGKYTUTOIDA, "Nhập lại mật khẩu mới","15")",
                    equalTo: "@ValidationMessages.VALIDATION_KIEMTRALAIMATKHAU"

                }
            },
            errorPlacement: function (error) {
                var htmlFor = error[0].htmlFor;

                $('span[for="' + htmlFor + '"]').each(function () {
                    $(this).append(error);
                });
            },
            success: function (error) {
                error.remove();
            }
        });
    </script>
}
