@model Biz.Lib.Authentication.ForgotPasswordModel
@using Biz.Lib.TACM.Resources.Resources

@{
    ViewBag.Title = ViewText.TITLE_FORGOTPASSWORD;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-frame">
    <h3 class="text-center text-uppercase mb-4">@ViewText.TITLE_FORGOTPASSWORD</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @using (@Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotPasswordForm", name = "forgotPasswordForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="mb-4 text-center">
                        <label>@ViewText.TEXT_FORGOTPASSWORD</label>
                    </div>
                    <div>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control text-center", @maxlength = 100, placeholder = ViewText.PLACEHOLDER_EMAIL })
                    </div>
                    <div class="mb-3 text-center"><small class="form-text text-danger"><span for="Email"></span></small></div>
                    <div class="row mb-3 captcha-group">
                        <div class="col-12 text-center">
                            <input type="text" name="captcha" id="captcha" class="form-control text-center mb-1" placeholder="Mã xác nhận" maxlength="6" />
                            <small class="form-text text-danger"><span for="captcha"></span></small>
                            @Html.CaptchaImage(48, 180)
                        </div>
                    </div>
                    <div class="text-center mb-3">
                        <button class="btn btn-custom cursor-link text-uppercase font-weight-bold" type="submit">@ViewText.BUTTON_QUENMATKHAU</button>
                    </div>
                    <div class="text-center mb-3" style="text-decoration: underline"><a href="@Url.Action("Login", "Account")" class="text-gray-dark"><i class="fa fa-angle-double-left" aria-hidden="true"></i>  @ViewText.BUTTON_DANGNHAP</a></div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#forgotPasswordForm").on("submit",
            function() {
                if ($("#forgotPasswordForm").valid()) {
                    showLoadingOverlay();
                    $.ajax({
                        type: $("#forgotPasswordForm").prop("method"),
                        url: $("#forgotPasswordForm").prop("action"),
                        data: $("#forgotPasswordForm").serialize(),
                        success: function (response) {
                            hideLoadingOverlay();

                            if (!response.IsSuccess) {
                                $.notify({ message: response.Messages[0] }, { type: "danger" });
                                //$("#Email").text(response.Data.Email);
                            } else {
                                
                                $.notify({ message: response.Messages[0] }, { type: "success", onClosed: function () {
                                    window.location = response.Messages[1];
                                }});
                            }
                        }
                    });
                }
                return false;
            }
        );

        $("#forgotPasswordForm").validate({
            ignore: '',
            rules: {
                "Email": {
                    required: true,
                    maxlength: 100,
                    email: true
                },
                "captcha": {
                    required: true,
                    maxlength: 20
                }
            },
            messages:
            {
                "Email": {
                    required: "@string.Format(ValidationMessages.VALIDATION_KIEMTRARONG, "Email")",
                    maxlength: "@string.Format(ValidationMessages.VALIDATION_SOLUONGKYTUTOIDA, "Email", 100)",
                    email: "@ValidationMessages.VALIDATION_EMAIL_KHONGHOPLE"
                    },
                "captcha": {
                    required: "@string.Format(ValidationMessages.VALIDATION_KIEMTRARONG,"Mã xác nhận")",
                    maxlength: "@string.Format(ValidationMessages.VALIDATION_SOLUONGKYTUTOIDA, "Mã xác nhận", 20)"
                }
            },
            errorPlacement: function(error) {
                var htmlFor = error[0].htmlFor;

                $('span[for="' + htmlFor + '"]').each(function() {
                    $(this).append(error);
                });
            },
            success: function(error) {
                error.remove();
            }
        });
    </script>
}
