@using Biz.Lib.TACM.Resources.Resources

<div class="container-fluid row">
    <div id="ho-so-vu-an-giam-sat-container" style="width: 100%">
        <table class="table table-hover table-bordered table-custom pl-0 pr-0" cellspacing="0" id="ho-so-vu-an-giam-sat-table" style="width: 100%">
            <thead class="thead-default">
                <tr>
                    <td>@ViewText.TABLE_SO</td>
                    <td>@ViewText.TABLE_MAHOSO</td>
                    <td>@ViewText.TABLE_DUONGSU</td>
                    <td>@ViewText.TABLE_TOAAN</td>
                    <td>@ViewText.TALBLE_NHOMAN</td>
                    <td>@ViewText.TABLE_GIAIDOAN</td>
                    <td>@ViewText.TABLE_CONGDOAN</td>
                </tr>
            </thead>
        </table>
    </div>
</div>