
@using Biz.Lib.TACM.Resources.Resources
@model Biz.Lib.TACM.ThuLy.Model.GhiChuPhanCongModel

@if (Model != null)
{
    <div class="row">
        <div class="col-12">
            @Html.DropDownList("ddlNgayTao", (SelectList)ViewBag.NgayTao, null, new { @id = "selectNgayTaoGhiChuPhanCong", @class = "custom-select mb-2" })
            <button id="btnSuaGhiChuPhanCong" class="btn btn-sm btn-outline-primary btn-custom-size float-right mt-2" data-trigger="modal" data-target="#modal" data-url="@Url.Action("ThemGhiChuPhanCong", "ThuLy", new{ hoSoVuAnId = Model.HoSoVuAnID , noiDung = Model.NoiDungGhiChu})"><i class="fa fa-pencil-square-o"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="noidungghichu" class="card">
                <div class="card-block">
                    <div class="card">
                        <div class="card-block" style="height: 150px; overflow-y: scroll">
                            @Html.Raw(Model.NoiDungGhiChu)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <button id="btnThemGhiChuPhanCong" class="btn btn-sm btn-primary float-right mt-2 mb-2" data-trigger="modal" data-target="#modal" data-url="@Url.Action("ThemGhiChuPhanCong", "ThuLy", new{ hoSoVuAnId = 0 , noiDung = ""})"><i class="fa fa-plus btn-icon-size"></i></button>
                </div>
            </div>
            <div class="mb-1 text-center empty-data">
                <blockquote>
                    <strong>@NotifyMessage.CHUACO_DULIEU</strong>
                </blockquote>
            </div>
        </div>
    </div>
}