@model Biz.TACM.Models.ViewModel.MauIn.MauInBiaHoSoViewModel

<table border="0" cellspacing="0" style="font-size: 14pt; font-family: 'Times New Roman'; margin: 56.7pt 42.525pt 0 85.05pt;">
    <tr valign="top">
        <td align="left" width="35%">
            <table cellspacing="0">
                <tr>
                    <td align="left" colspan="3" style="font-size: 12pt;">
                        <p style="text-align: center; margin: 0 0 10px 0;"><strong>TÒA ÁN NHÂN DÂN</strong></p>
                        @if (Model.TenToaAn.IndexOf("huyện") != -1 || Model.TenToaAn.IndexOf("thành phố") != -1)
                        {
                            <p style="text-align: center; margin: 0 0 0 0;"><strong>@Model.TenToaAn.ToUpper()</strong></p>
                        }
                        <p style="text-align: center; margin:10px 0 0 0;"><strong>TỈNH CÀ MAU</strong></p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td width="70px" height="3px" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: black"></td>
                    <td></td>
                </tr>
            </table>
        </td>
        <td width="5%"></td>
        <td align="right" width="55%">
            <table cellspacing="0">
                <tr style="text-transform: uppercase;">
                    <td colspan="3" style="text-align: center;">
                        <p style="margin: 0 0 10px 0;font-size: 12pt"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></p>
                        <p style="margin: 0 0 0 0;font-size:14pt"><strong>Độc lập - Tự do - Hạnh phúc</strong></p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td width="60%" height="3px" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: black"></td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height: 35px;"><td></td></tr>
    <tr>
        <td align="center" colspan="3" style="font-size:20pt">
            
                <p style="margin: 0 0 15px 0"><strong>HỒ SƠ HÌNH SỰ PHÚC THẨM</strong></p>
           
        </td>
    </tr>
    <tr style="height: 20px;"><td></td></tr>
    <tr @*style="font-size:12pt"*@>
        <td colspan="3">
            <div>
                <p style="margin: 0 0 10px 0; text-align: justify; text-indent: 28.35pt; line-height: 1.15em;">
                    Số bị cáo: @Model.SoBiCan.
                </p>
                <p style="margin: 0 0 10px 0; text-align: justify; text-indent: 28.35pt; line-height: 1.15em;">
                    <span class="float-left">Thụ lý số: @(Model.SoThuLy ?? "........")/@(Model.NgayThuLy.Year==1 ? DateTime.Now.Year : Model.NgayThuLy.Year)/TLST-HS</span> <span class="float-right">Ngày @(Model.NgayThuLy.Day < 10 ? "0" + Model.NgayThuLy.Day.ToString() : Model.NgayThuLy.Day.ToString()) tháng @(Model.NgayThuLy.Month < 3 ? "0" + Model.NgayThuLy.Month.ToString() : Model.NgayThuLy.Month.ToString()) năm @Model.NgayThuLy.Year.ToString().</span>
                </p>
                <p style="margin: 0 0 10px 0; text-align: justify; text-indent: 28.35pt; line-height: 1.15em;">
                    
                @if (Model.SoBanAn != null)
            {
                <span class="float-left inl">Bản án sơ thẩm số: @Model.SoBanAn/@Model.NgayRaBanAn.Year/HSST</span> <span class="float-right">Ngày @(Model.NgayRaBanAn.Day < 10 ? "0" + Model.NgayRaBanAn.Day.ToString() : Model.NgayRaBanAn.Day.ToString()) tháng @(Model.NgayRaBanAn.Month < 3 ? "0" + Model.NgayRaBanAn.Month.ToString() : Model.NgayRaBanAn.Month.ToString()) năm @Model.NgayRaBanAn.Year.ToString().</span>
            }
            else if(Model.SoQuyetDinh != null)
            {
                <span class="float-left">Quyết định sơ thẩm số: @Model.SoQuyetDinh/@Model.NgayRaQuyetDinh.Year/HSST</span> <span class="float-right">Ngày @(Model.NgayRaQuyetDinh.Day < 10 ? "0" + Model.NgayRaQuyetDinh.Day.ToString() : Model.NgayRaQuyetDinh.Day.ToString()) tháng @(Model.NgayRaQuyetDinh.Month < 3 ? "0" + Model.NgayRaQuyetDinh.Month.ToString() : Model.NgayRaQuyetDinh.Month.ToString()) năm @(Model.NgayRaQuyetDinh.Year==1 ? DateTime.Now.Year :Model.NgayRaQuyetDinh.Year).</span>
                }
                else
                {
                    <span>Bản án/Quyết định sơ thẩm số: ...../20..../HSST ngày ..... tháng ..... năm ........</span>
                }

                </p>
                
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <table border="1" cellspacing="0" style="font-size: 14pt; font-family: 'Times New Roman'; margin: 0 42.525pt 20px 85.05pt;">
                <tr>

                    <td style="text-align: center; padding: 10px 0 10px 0;">Bị cáo</td>
                    <td style="text-align: center; padding: 10px 0 10px 0;">Nội dung bản án</td>
                    <td style="text-align: center; padding: 10px 0 10px 0;">Kháng cáo, kháng nghị</td>
                    <td style="text-align: center; padding: 10px 0 10px 0;">Nội dung bản án, quyết định của Tòa án cấp phúc thẩm</td>
                </tr>
                
                @foreach(var item in Model.DanhSachBiCao)
                {
                    <tr>
                        <td style="padding: 10px 0 10px 10px;">
                            @if(item.DuongSuLa=="Cá nhân")
                            {
                                <p>
                                    Họ và tên: @item.HoTenDuongSu
                                </p>
                                <br />
                                <p>
                                    @(item.NgayThangNamSinh!=null && item.NgayThangNamSinh.Count()>4 ? "Sinh ngày: " : "Sinh năm: ")@(item.NgayThangNamSinh ?? "...............")
                                </p>
                                <br />
                            <p>
                                Địa chỉ: @if (item.NoiTamTru != null && !item.NoiTamTru.IsEmpty())
                                            {
                                                @item.NoiTamTru
                                            }
                                            else
                                            {
                                                @item.NoiDKHKTT
                                            }
                            </p>
                            <br />
                            <p>
                                Tình trạng giam giữ: @item.TinhTrangGiamGiu
                            </p>
                            }
                            else
                            {
                                <p>
                                    Người đại diện: @item.HoTenDuongSu
                                </p>
                                <br />
                            <p>
                                Địa chỉ: @if (item.NoiTamTru != null && !item.NoiTamTru.IsEmpty())
                                            {
                                                @item.NoiTamTru
                                            }
                                            else
                                            {
                                                @item.NoiDKHKTT
                                            }
                            </p>
                            }
                        </td>
                        <td style="padding: 10px 0 10px 10px;">
                            <p>
                                Điều luật: @item.DieuLuatTruyTo
                            </p><br />
                            <p>
                                Hình phạt: @item.HinhPhat
                            </p>
                        </td>
                        @if(item==Model.DanhSachBiCao.First())
                        {
                            <td rowspan="@Model.DanhSachBiCao.Count()" style="padding: 10px 0 10px 10px;">
                                @if(Model.DanhSachNguoiKhangCao!=null && Model.DanhSachNguoiKhangCao.Any())
                                {
                                    foreach( var nguoiKhangCao in Model.DanhSachNguoiKhangCao)
                                    {
                                    <p>
                                        Kháng cáo số: @nguoiKhangCao.KhangCaoID/@nguoiKhangCao.NgayNop.Year/KC-HS Ngày @(nguoiKhangCao.NgayNop.Day < 10 ? "0" + nguoiKhangCao.NgayNop.Day.ToString() : nguoiKhangCao.NgayNop.Day.ToString()) tháng @(nguoiKhangCao.NgayNop.Month < 3 ? "0" + nguoiKhangCao.NgayNop.Month.ToString() : nguoiKhangCao.NgayNop.Month.ToString()) năm @nguoiKhangCao.NgayNop.Year.ToString().
                                    </p>
                                    }
                                }
                                @if(Model.VienKiemSatKhangNghi!=null)
                                {
                                    <p>
                                        Kháng nghị số @Model.SoKhangNghi/@Model.NgayKhangNghi.Year/KN-HS Ngày @(Model.NgayRaQuyetDinh.Day < 10 ? "0" + Model.NgayRaQuyetDinh.Day.ToString() : Model.NgayRaQuyetDinh.Day.ToString()) tháng @(Model.NgayRaQuyetDinh.Month < 3 ? "0" + Model.NgayRaQuyetDinh.Month.ToString() : Model.NgayRaQuyetDinh.Month.ToString()) năm @(Model.NgayRaQuyetDinh.Year == 1 ? DateTime.Now.Year : Model.NgayRaQuyetDinh.Year)
                                    </p>
                                }
                            </td>

                            <td rowspan="@Model.DanhSachBiCao.Count()" style="padding: 10px 0 10px 10px;">
                                @if(Model.SoBanAnPT!=null)
                                {
                                    <p>
                                        Nội dung bản án: @Model.NoiDungBanAnPT
                                    </p>
                                    
                                }
                                @if(Model.SoQuyetDinhPT!=null)
                                {
                                    <p>
                                        Nội dung quyết định:
                                    </p>
                                    @Html.Raw("<p style=\"text-align: justify; text-indent: 28.35pt; line-height: 1.15em;\"><ul style=\"padding-left:14pt;margin: 0px 0 5px 0;list-style-type: none;\">")
                                    @Html.Raw(Server.HtmlDecode(Model.NoiDungQuyetDinhPT))
                                    @Html.Raw("</ul></p>")
                                }
                            </td>
                        }
                        
                    </tr>
                }
                    
                </table><br />
    <table border="1" cellspacing="0" style="font-size: 14pt; font-family: 'Times New Roman'; margin: 0 42.525pt 20px 85.05pt;">
                    <tr>
                        <td rowspan="3" style="text-align: center;" width="40px">
                            Hội<br />
                            đồng<br />
                            xét xử
                        </td>
                        <td  style="padding: 10px 0 10px 10px;">
                            
                                Thẩm phán chủ tọa:
                                
                        </td>
                        <td  style="padding: 10px 0 10px 10px;">
                            
                                @if (Model.ThamPhanChuToa != null && !Model.ThamPhanChuToa.IsEmpty())
                                {
                                    <span>@*@(Model.ThamPhanChuToa == "Nam" ? "Ông" : "Bà")*@ @Model.ThamPhanChuToa</span>
                                }
                                else
                                {
                                    <span>@*Ông (Bà)*@ .................................... </span>
                                }
                           
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 0 10px 10px;">
                            Thẩm phán:
                        </td>
                        <td style="padding: 10px 0 10px 10px;">
                                @if (Model.ThamPhan1 != null && !Model.ThamPhan1.IsEmpty())
                                {
                                    <span>@*@(Model.ThamPhanChuToa == "Nam" ? "Ông" : "Bà")*@ @Model.ThamPhan1,</span>
                                }
                                @if (Model.ThamPhanChuToa != null && !Model.ThamPhanChuToa.IsEmpty())
                                {
                                    <span>@*@(Model.ThamPhanChuToa == "Nam" ? "Ông" : "Bà")*@ @Model.ThamPhanChuToa</span>
                                }
                                
                        </td>
                    </tr>
                    
                
                <tr>
                    <td colspan="3" style="padding: 10px 0 10px 10px">
                        <p style="text-align: justify; margin: 0;">
                            Kiểm sát viên:
                            @if (Model.KiemSatVien != null && !Model.KiemSatVien.IsEmpty())
                            {
                                <span>@*@(Model.GioiTinhKiemSatVien == "Nam" ? "Ông" : "Bà")*@ @Model.KiemSatVien</span>
                            }
                            else
                            {
                                <span>@*Ông (Bà)*@ .................................... </span>
                            }
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="padding: 10px 0 10px 10px">
                        <p style="text-align: justify; margin: 0;">
                            Thư ký phiên tòa:
                            @if (Model.ThuKy != null && !Model.ThuKy.IsEmpty())
                            {
                                <span>@*@(Model.GioiTinhThuKy == "Nam" ? "Ông" : "Bà")*@ @Model.ThuKy</span>
                            }
                            else
                            {
                                <span>@*Ông (Bà)*@ .................................... </span>
                            }
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <p style="margin: 0 0 10px 0; text-align: justify; text-indent: 28.35pt; line-height: 1.15em;">
                
                @if (Model.SoBanAnPT != null)
            {
                <span class="float-left inl">Bản án phúc thẩm số: @Model.SoBanAnPT/@Model.NgayRaBanAnPT.Year/HSPT</span> <span class="float-right">Ngày @(Model.NgayRaBanAnPT.Day < 10 ? "0" + Model.NgayRaBanAnPT.Day.ToString() : Model.NgayRaBanAnPT.Day.ToString()) tháng @(Model.NgayRaBanAnPT.Month < 3 ? "0" + Model.NgayRaBanAnPT.Month.ToString() : Model.NgayRaBanAnPT.Month.ToString()) năm @Model.NgayRaBanAnPT.Year.ToString().</span>
            }
            else if (Model.SoQuyetDinhPT != null)
            {
                <span class="float-left">Quyết định phúc thẩm số: @Model.SoQuyetDinhPT/@Model.NgayRaQuyetDinhPT.Year/HSPT</span> <span class="float-right">Ngày @(Model.NgayRaQuyetDinhPT.Day < 10 ? "0" + Model.NgayRaQuyetDinhPT.Day.ToString() : Model.NgayRaQuyetDinhPT.Day.ToString()) tháng @(Model.NgayRaQuyetDinhPT.Month < 3 ? "0" + Model.NgayRaQuyetDinhPT.Month.ToString() : Model.NgayRaQuyetDinhPT.Month.ToString()) năm @Model.NgayRaQuyetDinh.Year.ToString().</span>
            }
            else
            {
                <span>Bản án/Quyết định phúc thẩm số: ...../20..../HSPT ngày ..... tháng ..... năm ........</span>
            }
            </p>
        </td>
    </tr>
    
</table>