
@{
    Layout = null;
}

@using Biz.Lib.TACM.Resources.Resources
@model Biz.Lib.TACM.XetXu.Model.XetXuModel

@if (Model != null)
{
    @Html.HiddenFor(m => m.ThuTuc, new { id = "thu-tuc-hidden" })
    <div class="row">
        <div class="col-12">
            <button id="btnSuaNoiDungXetXu" class="btn btn-sm btn-outline-primary btn-custom-size float-right mt-2" data-toggle="modal" data-target="#modelMoPhienHopHCPhucTham"><i class="fa fa-pencil-square-o"></i></button>
            @Html.DropDownListFor(m => m.XetXuID, (SelectList)ViewBag.ddlNgayTao, new { @id = "selectNgayTaoMoPhienHopHCPhucTham", @class = "custom-select mb-2" })
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_SO</span><span class="font-weight-bold">@Model.XetXuID</span></li>
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_THUTUC</span><span class="font-weight-bold">@Model.ThuTuc</span></li>
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_NGAYTHANG_RAQUYETDINH</span><span class="font-weight-bold">@string.Format("{0:dd/MM/yyyy}", @Model.NgayRaQuyetDinh)</span></li>
                <li class="list-group-item d-flex justify-content-between"><span id="thoi-gian-mo-phien-toa-detail-lbl">@ViewText.LABEL_THOIGIAN_MOPHIENHOP</span><span class="font-weight-bold">@string.Format("{0:HH:mm:ss dd/MM/yyyy}", @Model.ThoiGianMoPhienToa)</span></li>
                <li class="list-group-item d-flex justify-content-between"><span id="dia-diem-mo-phien-toa-detail-lbl">@ViewText.LABEL_DIADIEM_MOPHIENHOP</span><span class="font-weight-bold">@Model.DiaDiemMoPhienToa</span></li>
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_VUAN_DUOCXETXU</span><span class="font-weight-bold">@Model.VuAnDuocXetXu</span></li>
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_THAMPHAN</span><span class="font-weight-bold">@Model.NhanVienThamPhan.HoTenVaMaNV</span></li>
                <li class="list-group-item d-flex justify-content-between tham-phan-1-li"><span>@ViewText.LABEL_THAMPHAN1</span><span class="font-weight-bold">@Model.NhanVienThamPhan1.HoTenVaMaNV</span></li>
                <li class="list-group-item d-flex justify-content-between tham-phan-2-li"><span>@ViewText.LABEL_THAMPHAN2</span><span class="font-weight-bold">@Model.NhanVienThamPhan2.HoTenVaMaNV</span></li>
                <li class="list-group-item d-flex justify-content-between"><span>@ViewText.LABEL_THUKY</span><span class="font-weight-bold">@Model.NhanVienThuKy.HoTenVaMaNV</span></li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>@ViewText.LABEL_KIEMSATVIEN</span>
                    <span class="font-weight-bold">
                        @(Model.KiemSatVien == Setting.VALUE_KIEMSATVIEN_KHONG ? Model.KiemSatVien : (Model.NhanVienKiemSatVien == null ? "" : Model.NhanVienKiemSatVien.HoTenVaMaNV))
                </span>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabContentThamPhan" role="tab">@ViewText.LABEL_THAMPHAN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabContentThuKy" role="tab">@ViewText.LABEL_THUKY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabContentKiemSatVien" role="tab">@ViewText.LABEL_KIEMSATVIEN</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabContentThamPhan" role="tabpanel">
                    <div class="mb-3 border-bottom-custom">
                        <label class="d-flex justify-content-between"><span>@ViewText.LABEL_THAMPHAN</span><span class="font-weight-bold">@Model.NhanVienThamPhan.HoTenVaMaNV</span></label>
                    </div>
                    <div class="mb-3 border-bottom-custom tham-phan-1-li">
                        <label class="d-flex justify-content-between"><span>@ViewText.LABEL_THAMPHAN1</span><span class="font-weight-bold">@Model.NhanVienThamPhan1.HoTenVaMaNV</span></label>
                    </div>
                    <div class="mb-3 border-bottom-custom tham-phan-2-li">
                        <label class="d-flex justify-content-between"><span>@ViewText.LABEL_THAMPHAN2</span><span class="font-weight-bold">@Model.NhanVienThamPhan2.HoTenVaMaNV</span></label>
                    </div>
                    <div>
                        <label>@ViewText.LABEL_THAMPHAN_DUKHUYET</label>
                        <div class="card-block scroll-danhsachdukhuyet-chitiet">
                            <ul class="list-unstyled DanhSachNhanhVien">
                                @if (Model.ThamPhanDuKhuyet != null)
                                {
                                    foreach (var item in Model.ThamPhanDuKhuyet)
                                    {
                                        <li><label><input class="align-middle" checked type="checkbox" disabled /> @item.HoVaTenNV (@item.MaNV)</label></li>
                                    }
                                }
                            </ul>
                        </div>                         
                    </div>
                </div>
                <div class="tab-pane" id="tabContentThuKy" role="tabpanel">
                    <div class="mb-3 border-bottom-custom">
                        <label class="d-flex justify-content-between"><span>Thư ký</span><span class="font-weight-bold">@Model.NhanVienThuKy.HoTenVaMaNV</span></label>
                    </div>
                    <div>
                        <label>@ViewText.LABEL_THUKY_DUKHUYET</label>
                        <div class="card-block scroll-danhsachdukhuyet-chitiet">
                            <ul class="list-unstyled DanhSachNhanhVien">
                                @if (Model.ThuKyDuKhuyet != null)
                                {
                                    foreach (var item in Model.ThuKyDuKhuyet)
                                    {
                                        <li><label><input class="align-middle" checked disabled type="checkbox" /> @item.HoVaTenNV (@item.MaNV)</label></li>
                                    }
                                }
                            </ul>
                        </div> 
                        
                    </div>
                </div>
                <div class="tab-pane" id="tabContentKiemSatVien" role="tabpanel">
                    <div class="mb-3 border-bottom-custom">
                        <label class="d-flex justify-content-between">
                            <span>@ViewText.LABEL_KIEMSATVIEN</span>
                            <span class="font-weight-bold">@(Model.KiemSatVien == Setting.VALUE_KIEMSATVIEN_KHONG ? Model.KiemSatVien : (Model.NhanVienKiemSatVien == null ? "" : Model.NhanVienKiemSatVien.HoTenVaMaNV))</span>
                        </label>
                    </div>
                    <div>
                        <label>@ViewText.LABEL_KIEMSATVIEN_DUKHUYET</label>
                        <div class="card-block scroll-danhsachdukhuyet-chitiet">
                            <ul class="list-unstyled DanhSachNhanhVien">
                                @if (Model.KiemSatVienDuKhuyet != null)
                                {
                                    foreach (var item in Model.KiemSatVienDuKhuyet)
                                    {
                                        <li><label><input class="align-middle" checked disabled type="checkbox" /> @item.HoVaTenNV (@item.MaNV)</label></li>
                                    }
                                }
                            </ul>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <button id="btnThemNoiDungXetXu" class="btn btn-sm btn-primary float-right mt-2 mb-2" data-toggle="modal" data-target="#modelMoPhienHopHCPhucTham"><i class="fa fa-plus btn-icon-size"></i></button>
                </div>
            </div>
            <div class="mb-1 text-center empty-data">
                <blockquote>
                    <strong>@NotifyMessage.CHUACO_DULIEU</strong>
                </blockquote>
            </div>
        </div>
    </div>
}

<script>
    $(function() {
        if ($("#loaiQuanHe").val() === "Yêu cầu" || $("#nhomAn").val() == "AD") {
            $("#thoi-gian-mo-phien-toa-detail-lbl").html("@ViewText.LABEL_THOIGIAN_MOPHIENHOP");
            //$('[href="#tabContentHoiThamNhanDan"]').closest('li').hide();
        }

        if ($("#thu-tuc-hidden").val() == "Rút gọn") {
            $(".tham-phan-1-li, .tham-phan-2-li").attr('style', 'display: none !important');
        }
    });
</script>