@using Biz.Lib.TACM.Resources.Resources
@model Biz.TACM.Models.ViewModel.NhanDon.DuongSuViewModel

<div class="modal-header">
    <h5 class="modal-title text-uppercase">@ViewText.TITLE_SUA_THONGTIN_DUONGSU</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            @using (Html.BeginForm("SuaDuongSu", "NhanDon", FormMethod.Post, new { id = "formSuaDuongSu" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="DuongSuID" value="@Model.DuongSuID" />
                <input type="hidden" name="hoSoVuAnId" value="@Model.HoSoVuAnID" />
                <input type="hidden" name="DuongSuLa" value="@Model.DuongSuLa" />
                <input type="hidden" name="TuCachThamGiaToTung" value="@Model.TuCachThamGiaToTung" />
                <!-- form duong su la ca nhan -->
                <div id="contentCaNhan">
                    <div class="row mb-2">
                        <div class="col-3">
                            <label>@ViewText.LABEL_HOVATENNGUOIBIDENGHI<span class="input-required">*</span></label>
                        </div>
                        <div class="col-9">
                            @Html.TextBoxFor(x => x.HoVaTen, new { @class = "form-control", @maxlength = 201 })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.HoVaTen)</small>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <label>@ViewText.LABEL_NGAYSINH</label>
                        </div>
                        <div class="col-3">
                            @*<div class="input-group date" id="ngay-thang-nam-sinh-dtp">
                                    @Html.TextBoxFor(x => x.NgayThangNamSinh, new {@class = "form-control"})
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>*@
                            @Html.TextBoxFor(x => x.NgayThangNamSinh, new { @class = "form-control" })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.NgayThangNamSinh)</small>
                        </div>
                        <div class="col-3">
                            <label>@ViewText.LABEL_DANTOC</label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(x => x.DanToc, new { @class = "form-control", @Value = "Kinh", @maxlength = 51 })
                            
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <label>@ViewText.LABEL_GIOITINH<span class="input-required">*</span></label>
                        </div>
                        <div class="col-3">
                            @Html.DropDownList("GioiTinh", (SelectList)ViewBag.listGioiTinh, Setting.DDL_CHOOSE, new { @class = "form-control" })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.GioiTinh)</small>
                        </div>
                        <div class="col-3">
                            <label>@ViewText.LABEL_TONGIAO<span class="input-required">*</span></label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(x => x.TonGiao, new { @class = "form-control", @maxlength = 51 })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.TonGiao)</small>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <label>@ViewText.LABEL_SODIENTHOAI</label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(x => x.SoDienThoai, new { @class = "form-control", @maxlength = 31 })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.SoDienThoai)</small>
                        </div>
                        <div class="col-3">
                            <label>@ViewText.LABEL_QUOCTICH</label>
                        </div>
                        <div class="col-3">
                            @Html.DropDownList("QuocTich", (SelectList)ViewBag.listQuocTich, null, new { @class = "form-control" })
                            
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <label>@ViewText.LABEL_NGHENGHIEP</label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(x => x.NgheNghiep, new { @class = "form-control", @maxlength = 251 })
                            
                        </div>
                        <div class="col-3">
                            <label>@ViewText.LABEL_TRINHDOVANHOA<span class="input-required">*</span></label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(x => x.TrinhDoVanHoa, new { @class = "form-control", @maxlength = 201 })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.TrinhDoVanHoa)</small>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <label>@ViewText.LABEL_CMND</label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(x => x.SoCMND, new { @class = "form-control", @maxlength = 51 })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.SoCMND)</small>
                        </div>
                        <div class="col-3">
                            <label>@ViewText.LABEL_NGAYCAPCMND</label>
                        </div>
                        <div class="col-3">
                            <div class="input-group date" id="ngay-cap-cmnd-dtp">
                                @Html.TextBoxFor(x => x.NgayCapCMND, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                            <small class="form-text">@Html.ValidationMessageFor(x => x.NgayCapCMND)</small>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <label>@ViewText.LABEL_NOICAPCMND</label>
                        </div>
                        <div class="col-9">
                            @Html.TextBoxFor(x => x.NoiCapCMND, new { @class = "form-control", @maxlength = 251 })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.NoiCapCMND)</small>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <label>@ViewText.LABEL_NOIDKKTT<span class="input-required">*</span></label>
                        </div>
                        <div class="col-9">
                            @Html.TextBoxFor(x => x.NoiDKHKTT, new { @class = "form-control", @maxlength = 251 })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.NoiDKHKTT)</small>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <label>@ViewText.LABEL_TAMTRU_NEUCO</label>
                        </div>
                        <div class="col-9">
                            @Html.TextBoxFor(x => x.NoiTamTru, new { @class = "form-control", @maxlength = 251 })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.NoiTamTru)</small>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <label>@ViewText.LABEL_NGUOIGIAMHOHOTEN</label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(x => x.HoTenNguoiGiamHo, new { @class = "form-control", @maxlength = 201 })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.HoTenNguoiGiamHo)</small>
                        </div>
                        <div class="col-2">
                            <label>@ViewText.LABEL_DIACHI</label>
                        </div>
                        <div class="col-4">
                            @Html.TextBoxFor(x => x.DiaChiNguoiGiamHo, new { @class = "form-control", @maxlength = 251 })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.DiaChiNguoiGiamHo)</small>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <label>@ViewText.LABEL_CON_ONG_HOVATEN</label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(x => x.HoTenCha, new { @class = "form-control", @maxlength = 201 })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.HoTenCha)</small>
                        </div>
                        <div class="col-2">
                            <label>@ViewText.LABEL_DIACHI</label>
                        </div>
                        <div class="col-4">
                            @Html.TextBoxFor(x => x.DiaChiCha, new { @class = "form-control", @maxlength = 251 })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.DiaChiCha)</small>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <label>@ViewText.LABEL_CON_BA_HOVATEN</label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(x => x.HoTenMe, new { @class = "form-control", @maxlength = 201 })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.HoTenMe)</small>
                        </div>
                        <div class="col-2">
                            <label>@ViewText.LABEL_DIACHI</label>
                        </div>
                        <div class="col-4">
                            @Html.TextBoxFor(x => x.DiaChiMe, new { @class = "form-control", @maxlength = 251 })
                            <small class="form-text">@Html.ValidationMessageFor(x => x.DiaChiMe)</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default text-uppercase pull-left" data-dismiss="modal">@ViewText.BUTTON_HUY</button>
    <button type="button" class="btn btn-danger text-uppercase pull-right" id="sua-duong-su-btn">@ViewText.BUTTON_LUU</button>
</div>

<script type="text/javascript">
    $(function () {
        SuaDuongSuModuleAD.init();
    });
</script>
